*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1170vh;
    margin: auto;
}
.about{
    background-image: url("../images/26802-1q5gk4m.jpg");
    height: 900px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.image{
    padding-top: 50px;
    text-align: center;
    
}
.title{
    text-align: center;
    padding-top: 220px;
}
.title p{
    font-size: 100px;
    color: white;
}
.title h6{
    font-size: 32px;
    color: white;
    margin-top: 40px;
    font-family:  cursive;
}
nav {
   text-align: center;
   padding-top: 30px;
}
ul li{
   /* text-align: center;*/
    padding: 0 20px;
    display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    font-family: cursive;
}
.heading{
    font-family: cursive;
    text-align: center;
    height: 300px;
}
.heading p{
    width: 500;
    height: 300px;
}
.ourcoaches h1{
    font-size:70px;
    text-align: center;
    background-image: url(https://comps.canstockphoto.com/blur-park-with-bokeh-light-background-pictures_csp65536183.jpg);
    color: white;
}
.images .img1{
    width: 300px;
    height: 250px;
    border-radius: 250px;
    float: left;
    padding-left: 80px;
    padding-top: 20px;
    
}
.images .img2{
    width: 300px;
    height: 250px;
    border-radius: 300px;
    padding-left: 60px;
    padding-top: 20px;
    
}
.images .img3{
    width: 300px;
    height: 250px;
    border-radius: 250px;
    padding-left: 60px;
    padding-top: 20px;
    
}