*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1170vh;
    margin: auto;
}
.home{
    background-image: url("../images/26802-1q5gk4m.jpg");
    height: 900px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.image{
    padding-top: 50px;
    text-align: center;
    
}
.title{
    text-align: center;
    padding-top: 220px;
}
.title p{
    font-size: 100px;
    color: white;
}
.title h6{
    font-size: 32px;
    color: white;
    margin-top: 40px;
    font-family:  cursive;
}
nav {
   text-align: center;
   padding-top: 30px;
}
ul li{
   /* text-align: center;*/
    padding: 0 20px;
    display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    font-family: cursive;
}
/* Why Yoga */
.yoga{
    padding-top: 50px;
}
.title_name{
    text-align: center;
}
.title_name p{
    font-size: 64px;
    font-family: cursive;
}
.yoga-container{
    display: flex;
    flex: wrap;
    justify-content: center;
}
.yoga-box{
    max-width: 33.33%;
    padding: 60px;
    text-align: center;
    color: black;
    cursor: pointer;
}
.yoga-icon{
    display: inline-block;
    color: rgb(177, 108, 233);
    margin-bottom: 30px;
    margin-top: 16px;
}

.yoga-title{
    font-size: 32px;
    margin-bottom: 30px;
    color: rgb(177, 108, 233);
    font-weight: 100;
    font-family: cursive;
}
.yoga-desc{
    font-family: cursive;
    color: rgb(161, 154, 154);
    line-height: 25px;
}
.scroll{
    background-image: url("../images/26813-1uymusv.png");
    height: 500px;
   
}
.scroll .heading{
    margin-left: 700px;
    line-height: 30px;
   padding-top: 100px;
   padding-bottom: 10px;
   height: 500px;
}
.scroll .heading .button{
    padding: 20px;
}

.heading h1{
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
.main_inner{
    margin-left: 190px;
    height: 500px;
    margin-top: 50px;
}
.main {
    margin-top: 50px;
    repeat:no-repeat;
}

.main img {
    float: left;
    width: 250px;
    border-radius: 150px;
    margin-right: 50px;
    margin-left: 170px;
    
}

.clear {
    clear: both;
}

.para1 {
    float: left;
    width: 700px;
    font-family:  cursive;
   
}
.para1 h1 {
 padding-top: 50px;
 font-size: 40px;
 padding-bottom: 15px;
}
.rangoli{
    text-align: center;
    
}
.ourpgm{
    text-align: center;
    height: 50px;
    margin-top: 30px;
    font-size: 30px;


}
.main1 {
    margin: 100px 0;
    margin-left: 50px;
}

.main1_head {
    text-align: center;
    margin-bottom: 30px;

}

.main1_head h1 {
    margin-top: 30px;
    margin-left: 80px;
}

.our_pro1 {
    float: left;
    width: 235px;
    font-family:  cursive;
}

.clear {
    clear: both;
}

.our_pro1 img {
    width: 235px;
}

.our_pro1 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 10px 0;
    margin-top: 40px;
}
h4 {
    word-spacing: 2px;
    letter-spacing: 2px;
    color: purple;
    font-size: 25px;
    margin: 10px 0;
}

.our_pro2 {
    float: left;
    width: 235px;
    margin: 0 20px;
    font-family:  cursive;
}

.our_pro2 img {
    width: 235px;
}

.our_pro2 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 10px 0;
    margin-top: 40px;
}

.our_pro3 {
    float: left;
    width: 235px;
    margin-right: 20px;
    font-family:  cursive;
}

.our_pro3 img {
    width: 235px;
}

.our_pro3 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 10px 0;
    margin-top: 40px;
}

.our_pro4 {
    float: left;
    width: 235px;
    font-family:  cursive;
}

.our_pro4 img {
    width: 235px;
}

.our_pro4 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 10px 0;
    margin-top: 40px;
}
footer {
    background-color: #3e8dad;
    color: #fff;
    padding-bottom: 31px;
}

.footer_info {
    
}

.contactus {
    float: left;
    width: 400px;
    padding-top: 50px;
}
.contactus p {
    line-height: 26px;

}

.clear {
    clear: both;
}
.min_footer{
    height: 400px;
}

.contactus p {
    padding-top: 20px;
}

.input {
    float: left;
    width: 330px;
    text-align: center;
    padding-top: 50px;
}

.input h5 {
    padding-bottom: 20px;
}

.name {
    margin: 20px 0;
}

.message {
    margin-bottom: 20px;
    width: 150px;
}

input {
    width: 250px;
    padding: 5px 0;
}

.btn1 button {
    width: 250px;
    padding: 10px 0;
    margin: 20px 0;
    background-color: #fff;
    color: #3e8dad;
    border-radius: 5px;
}

.social_icons {
    float: left;
    width: 330px;
    padding-top: 50px;
    text-align: right;
}

.p3 {
    float: right;
    width: 350px;
    padding-bottom: 80px;
    height: 50px;
}

.clear {
    clear: both;
}

.p3 p {
    color: #fff;
    width: 220px;
    background-color: rgb(235, 134, 134);
    border-radius: 5px 5px 0 0;
    border: none;
    padding:5px;
    padding-left: 5px;
    margin-bottom: 10px;

}

.p3 span {
    color: lightgray;

}
.min_footer{
    margin-left: 170px;
   
}
.social_icons h5{
    padding-bottom: 20px;
}

    
