*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 1170vh;
    margin: auto;
}
.home{
    background-image: url("../images/26802-1q5gk4m.jpg");
    height: 900px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.image{
    padding-top: 50px;
    text-align: center;
    
}
.title{
    text-align: center;
    padding-top: 220px;
}
.title p{
    font-size: 100px;
    color: white;
}
.title h6{
    font-size: 32px;
    color: white;
    margin-top: 40px;
    font-family:  cursive;
}
nav {
   text-align: center;
   padding-top: 30px;
}
ul li{
   /* text-align: center;*/
    padding: 0 20px;
    display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    font-family: cursive;
}
/* Why Yoga */
.yoga{
    padding-top: 50px;
}
.title_name{
    text-align: center;
}
.title_name p{
    font-size: 64px;
    font-family: cursive;
}
.yoga-container{
    display: flex;
    flex: wrap;
    justify-content: center;
}
.yoga-box{
    max-width: 33.33%;
    padding: 60px;
    text-align: center;
    color: black;
    cursor: pointer;
}
.yoga-icon{
    display: inline-block;
    color: rgb(177, 108, 233);
    margin-bottom: 30px;
    margin-top: 16px;
}

.yoga-title{
    font-size: 32px;
    margin-bottom: 30px;
    color: rgb(177, 108, 233);
    font-weight: 100;
    font-family: cursive;
}
.yoga-desc{
    font-family: cursive;
    color: rgb(161, 154, 154);
    line-height: 25px;
}
.scroll{
    background-image: url("../images/26813-1uymusv.png");
    height: 500px;
   
}
.scroll .heading{
    margin-left: 700px;
    line-height: 30px;
   padding-top: 100px;
   padding-bottom: 10px;
   height: 500px;
}
.scroll .heading .button{
    padding: 20px;
}

.heading h1{
    padding-bottom: 10px;
}
.clear{
    clear: both;
}
.main {
    margin-top: 50px;
    repeat:no-repeat;
}

.main img {
    float: left;
    width: 250px;
    border-radius: 150px;
    margin-right: 50px;
    margin-left: 170px;
    
}

.clear {
    clear: both;
}

.para1 {
    float: left;
    width: 700px;
   
}
.para1 h1 {
 padding-top: 50px;
 font-size: 40px;
 padding-bottom: 15px;
}
.rangoli{
    text-align: center;
    
}
.ourpgm{
    text-align: center;
    height: 50px;
    margin-top: 30px;
    font-size: 30px;

}
    
