*{
    margin:0px;
    padding:0px;
}
.container{
    width:1300px;
    height:auto;
    background-color:#ddd;
    border:1px solid #bbb;
}
.header{
    border:1px solid black;
    width:760px;
    
}
.menu ul li{
    text-decoration:none;
}