h2 {
	color : #a47bba;
	font-size : 28px;
	font-weight : normal;
	font-style : normal;
	font-family : 'Josefin Sans';
	text-transform : none;
}
h1 {
	color : #333333;
	font-size : 75px;
	font-weight : normal;
	font-family : 'Josefin Sans';
}
p {
	font-family : 'Josefin Sans';
	font-size : 15px;
}
body {
	background-color : #ffffff;
}
h3 {
	font-family : 'Josefin Sans';
	color : #a47bba;
	font-style : italic;
	font-size : 23px;
}
i.fa:not([style*=":"]) {
	color : #a170a3;
	background-color : #ffffff;
	font-size : 35px;
}
h4 {
	font-family : 'Josefin Sans';
	color : #828282;
	font-weight : normal;
}
.btn:not([bs-btn]) {
	background-color : #A170A3;
	color : #ffffff;
}
.negative  {
	background-color : #4d90b2;
	background-image : url('//d33rxv6e3thba6.cloudfront.net/2015/11/56711c4496eb08c9070977df/32174-3a11hi.png');
}
.negative p {
	color : #ffffff;
	font-size : 15px;
}
.negative i.fa:not([style*=":"]) {
	color : #A171A3;
	background-color : #ffffff;
	font-size : 22px;
}
.negative h1 {
	undefined : jos;
	font-family : 'Josefin Sans';
	color : #ffffff;
	font-weight : normal;
	font-size : 70px;
}
.negative h2 {
	undefined : jo;
	font-family : 'Josefin Sans';
	color : #ffffff;
}
.negative h3 {
	undefined : jo;
	font-family : 'Josefin Sans';
	color : #fcfcfc;
}
.negative h4 {
	undefined : jo;
	font-family : 'Josefin Sans';
	font-size : 17px;
}
.main  {
	background-color : #a170a3;
}
.main h1 {
	color : #ffffff;
	font-family : 'Josefin Sans';
	font-weight : normal;
	font-size : 80px;
}
.main i.fa:not([style*=":"]) {
	background-color : #ffffff;
	color : #a171a3;
	font-size : 40px;
	height : 55px;
	width : 55px;
	line-height : 55px;
}
.main h2 {
	font-family : 'Libre Baskerville';
	color : #ffffff;
	font-style : italic;
	font-weight : normal;
}
.main p {
	font-size : 15px;
	color : #333333;
}
.main h4 {
	color : #a47bba;
	font-family : 'Josefin Sans';
	font-weight : normal;
}
.main h3 {
	color : #ffffff;
	font-family : 'Josefin Sans';
	font-size : 26px;
	font-weight : normal;
	text-transform : none;
	font-style : normal;
}
.main .btn:not([bs-btn]) {
	background-color : #a170a3;
	color : #ffffff;
}
.secondary  {
	background-color : #4D90B2;
}
.secondary h1 {
	font-family : 'Josefin Sans';
	font-weight : normal;
	font-size : 50px;
}
.secondary p {
	font-family : 'Josefin Sans';
}
.secondary .btn:not([bs-btn]) {
	color : #4d90b2;
	background-color : #ffffff;
}
.secondary h3 {
	font-family : 'Josefin Sans';
	font-size : 23px;
}
.secondary h2 {
	font-family : 'Josefin Sans';
	text-transform : none;
	font-style : normal;
}
.secondary h4 {
	font-family : 'Josefin Sans';
	font-size : 18px;
}
.secondary i.fa:not([style*=":"]) {
	color : #a170a3;
}
.basic h2 {
	color : #a47bba;
	font-size : 28px;
	font-weight : normal;
	font-style : normal;
	font-family : 'Josefin Sans';
	text-transform : none;
}
.basic h1 {
	color : #333333;
	font-size : 75px;
	font-weight : normal;
	font-family : 'Josefin Sans';
}
.basic p {
	font-family : 'Josefin Sans';
	font-size : 15px;
}
.basic  {
	background-color : #ffffff;
}
.basic h3 {
	font-family : 'Josefin Sans';
	color : #a47bba;
	font-style : italic;
	font-size : 23px;
}
.basic i.fa:not([style*=":"]) {
	color : #a170a3;
	background-color : #ffffff;
	font-size : 35px;
}
.basic h4 {
	font-family : 'Josefin Sans';
	color : #828282;
	font-weight : normal;
}
.basic .btn:not([bs-btn]) {
	background-color : #A170A3;
	color : #ffffff;
}
.theme-color {
 	 color: #ffffff; 
}
.theme-border-color {
 	 border-color: #ffffff; 
}
.theme-background {
 	 background-color: #ffffff; 
}
.negative-color {
 	 color: #4d90b2; 
}
.negative-border-color {
 	 border-color: #4d90b2; 
}
.negative-background {
 	 background-color: #4d90b2; 
}
.negative-background {
 	 background-image: url('//d33rxv6e3thba6.cloudfront.net/2015/11/56711c4496eb08c9070977df/32174-3a11hi.png'); 
}
.main-color {
 	 color: #a170a3; 
}
.main-border-color {
 	 border-color: #a170a3; 
}
.main-background {
 	 background-color: #a170a3; 
}
.secondary-color {
 	 color: #4D90B2; 
}
.secondary-border-color {
 	 border-color: #4D90B2; 
}
.secondary-background {
 	 background-color: #4D90B2; 
}
