@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Parisienne);
/* default style */

.navbar-default .navbar-nav > li > a {
  color: #272A38;
  font-weight: bold;
  font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #d8335b;
  font-size: 15px;
}
.navbar-default .navbar-nav > li > a.current {
  color:#d8335b;
  font-size: 15px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 24px;
}
h3 {
  font-size: 15px;
  color: #999999;
}
h4 {
  font-weight: bold;
}
p{
  font-size: 12px;

}
p,
a {
  color: #999999;
}
i.fa:not([style*=":"]) {
  color: #ffffff;
  font-size: 25px;
  text-shadow: none;
  box-sizing: content-box;
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  background-color: #272a38;
  border: 3px solid #fff;
}

/* carousel style */

.carousel h1 {
  font-size: 75px;
  color: #fff;
  font-weight: bold;
}

.carousel p {
  font-size: 36px;
  color: #ffffff;
}

/* main style */

.main .navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.main .navbar-default .navbar-nav > li > a:hover {
  color: #d8335b;
  font-size: 15px;
}
.main .navbar-default .navbar-nav > li > a.current {
  color:#d8335b;
  font-size: 15px;
}

.main {
  background-color: #272A38;
}
.main h1 {
  color: #fff;
  font-weight: bold;
}
.main h2 {
  color: #fff;
  font-weight: bold;
}
.main h3 {
  color: #fff;
}
.main h4 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.main p{
  font-size: 12px;

}
.main p,
.main a {
  color: #999999;
}

/* secondary style */

.secondary {
  background-color: #481a30;
}
.secondary h1 {
  font-family: 'Parisienne', cursive;
  font-size: 72px;
  color: #fff;
}
.secondary h2 {
  font-family: Georgia regular;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}
.secondary h3 {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  color: #fff;
}
.secondary h4 {
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  color: #fff;
}
.secondary p{
  font-size: 15px;

}
.secondary p,
.secondary a {
  color: #fff;
  font-family: Georgia regular;
}
.secondary i.fa:not([style*=":"]) {
  color: #de6f90;
  font-size: 25px;
  text-shadow: none;
  box-sizing: content-box;
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  display: inline-block;
}


/*negative style */

.negative {
  background-color: #272A38;
}
.negative h4 {
  color: #fff;
  font-size: 14px;
  padding: 10px 0px;
}
.negative p{
  font-size: 12px;

}
.negative p,
.negative a {
  color: #999999;
}
.negative i.fa:not([style*=":"]) {
  font-size: 18px;
  text-shadow: none;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #ffffff;
  color: #272A38;
}
