:root{
    --darkgray:#212329;
    --brighred:#f9423D;
    --white:#fff;
    --lightred:#f9433dcc;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
   /* font-family:'nunito',sans-serif;*/
    font-family: 'Josefin Sans', sans-serif !important;
    height: 100%;
    font-size:17px !important;
}
li{
    text-decoration: none;
}
section{
  /* width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../images/blue.jpg);
    height:900px; 
    background-attachment:fixed;*/
}
 .banner{
            position:relative;
            height:700px;
        }
        
        .banner img{
            width: 100%;
            height:700px;
        }
        
        .overlay{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color:blue;
            opacity: 0.2;
}
            .section-title h1{
                font-size:50px;
                border:outline;
            }
.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
 
}
.section-title h2{
    padding-top:50px;
    border-bottom:3px solid green;
    width:170px;
    
}
.section-title p{
    padding-top:30px;
    line-height: 30px !important;
    word-spacing: 3px;
}
i{
    color:green;
}
.btn-learn-more{
    border:2px solid green;
    width:300px !important;
    height:150px !important;
    border-radius:20px;
    padding: 10px;
    color:green
}
a{
    text-decoration-line: none;
}
.btn-learn-more:hover{
    background-color: green;
    color:white;
}
.heading{
    padding-top:50px;
    border-bottom:3px solid green;
    width:170px;
}
.para{
     padding-top:30px;
    line-height: 30px !important;
    word-spacing: 3px;
}
.icons{
    width:60px;
    height:60px;
    background-color: green;
    border-radius:50px;
    margin-top: 30px;
    text-align: center;
     margin-left: 10px; 
    margin-bottom: 20px;

}
.icons i{
   font-size: 30px;
    margin-top: 14px;
     
    color:white;
}
/*---------------------------------*/
.row{
       

   


}