:root{
    --darkgray:#212329;
    --brighred:#f9423D;
    --white:#fff;
    --lightred:#f9433dcc;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
   
}
/*-----------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid white;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
.container-fluid{
     position:fixed;
   /* background-image: linear-gradient(to right,#5fb80b,#4f940e,#aef16e);*/
    background-color:black;
    border-bottom:2px solid #aaa;
    z-index:1000;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009961;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #00c27b;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(40, 40, 40, 0.9);
}
.logo a{
    text-decoration-line: none;
    text-decoration: none;
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  
  
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    border: 0;
    /*padding: 15px 0;*/
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #009961;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.get-started-btn:hover {
  background: #00b371;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar{
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  margin: 0 12px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 3px;
  /*font-size: 14px;*/
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height:4px;
  bottom: -7px;
  left: 0;
  background-color:white;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-top: 2px solid #009961;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #282828;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #009961;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(15, 15, 15, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #282828;
}

.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #009961;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #009961;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/*--------------------------------------------*/
.clear{
    clear: both;
}
/*--------------------------*/
body{
   /* font-family:'nunito',sans-serif;*/
    font-family: 'Josefin Sans', sans-serif !important;
    height: 100%;
    font-size:17px !important;
}
li{
    text-decoration: none;
}
section{
  /* width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../images/blue.jpg);
    height:900px; 
    background-attachment:fixed;*/
}
 .banner{
            position:relative;
            height:700px;
    
        }
        
        .banner img{
            width: 100%;
            height:700px;
        }
        
        .overlay{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color:#aaa;
            opacity: 0.2;
}
            .section-title h1{
                font-size:50px;
                border:outline;
            }
.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
 
}
.section-title h2{
    padding-top:50px;
    border-bottom:3px solid green;
    width:170px;
    
}
.section-title p{
    padding-top:30px;
    line-height: 30px !important;
    word-spacing: 3px;
}
i{
    color:green;
}
.btn-learn-more{
    border:2px solid green;
    width:300px !important;
    height:150px !important;
    border-radius:20px;
    padding: 10px;
    color:green
}
a{
    text-decoration-line: none;
}
.btn-learn-more:hover{
    background-color: green;
    color:white;
}
.heading{
    padding-top:50px;
    border-bottom:3px solid green;
    width:170px;
}
.para{
     padding-top:30px;
    line-height: 30px !important;
    word-spacing: 3px;
}
.icons{
    width:60px;
    height:60px;
    background-color: green;
    border-radius:50px;
    margin-top: 30px;
    text-align: center;
     margin-left: 10px; 
    margin-bottom: 20px;

}
.icons i{
   font-size: 30px;
    margin-top: 14px;
     
    color:white;
}
.icons-2{
    width:60px;
    height:60px;
    background-color: green;
    border-radius:50px;
    margin-top: 30px;
    text-align: center;
     margin-left: 10px; 
    margin-bottom: 20px;

}
.icons-2 i{
   font-size: 30px;
    margin-top: 14px;
     
    color:white;
}
.col-lg-4:hover{
    transform: translateY(-10px);
border-color: green;
 color:green;  
}
.green:hover{
    color:green;
}
main{
    margin-top:110px;
}
 .banner1{
            position:relative;
            height:400px;
    
        }
        
        .banner1 img{
            width: 100%;
            height:400px;
        }
        
        .overlay{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color:#aaa;
            opacity: 0.2;
}
