
.topnav {
    overflow: hidden;
    background-color: #b1e0e9;

  }
  .topnav i{
      padding-left: 30px;
      font-size: 30px;
      padding-top: 6px;
      color: white;

  }
  .topnav text{
      width: 80px;
  }
 
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
      padding-right: 50px;
    }
  }
 
 .search{
     width: 50%;
     padding-right: 20px;
     margin-right: 30px;
 }


.header_info{
    display: flex;
    padding:20px 0;
    border-bottom: 1px solid #999;
    margin-left: 120px;
}
.call,.email,.time,.address{
    width:19%;
    line-height: 20px;
}
.email{
   display: flex; 
}
.eva{
    width:21%;
    text-align: center;
}
span{
   color: #999; 
}
.a fas fa-a{
    width:22px;
    height:22px;
    border: 1px solid #999;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
    font-size: 30px;
}
.email .p1{
    padding-left: 15px;
}
.a p{
    font-size: 25px;
    color: #999;
    position: absolute;
    top:-3px;
    left:4px;
}
.call,.email,.time,.address{
    width:19%;
    line-height: 20px;
}
.email{
   display: flex; 
}
.eva{
    width:21%;
    text-align: center;
}
span{
   color: #999; 
}
.a{
    width:22px;
    height:22px;
    border: 1px solid #999;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
}
.email .p1{
    padding-left: 15px;
}
.a p{
    font-size: 25px;
    color: #999;
    position: absolute;
    top:-3px;
    left:4px;
}
.span{
    color: red;
    font-size: 50px;
}
.fas fa-map-marker-alt{
    font-size: 20px;
    margin-left: 10px;

}







.logo{
    color: white;
}

a{
    color:white;
    text-decoration:none;
  
}

.header{
    background-color: black;
    margin-left: 50px;

}
li{
    list-style-type:none;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Jost";
    letter-spacing:3px;
}

.container{
    margin-top: 30px;
}
.section1{
    width:90%;
    margin:0px auto;
    display:flex;
    justify-content:space-between;
    background-color: black;
    margin-top: 50px;
    margin-left: 50px;
}
.nav ul li{
    display: inline;
    margin-left: 20px;
    font-size: 20px;
  
}
.nav ul li:hover{
    color: green;
}
.nav{
    background-color: black;
   padding-left: 60px;
} 
.topbtn{
 background-color: blue;
 border-radius: 10px;
 margin-left: 180px;

}
.topbtn:hover{
    background-color: rgb(249, 249, 252);
}




.banner{
    height: 300px;
    /*background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwY3mibEky2a9FWKf6gZBGFi3hFgY8-yuTYw&usqp=CAU);*/
    padding-left: 110px;
    background-repeat: no-repeat;
    width: auto;
    background-color: rgb(125, 125, 128);
   
   

}
.banner p{
    color:rgb(14, 206, 72);
    padding-top: 50px;



}
.banner button{
 
    border: none;
    color: rgb(15, 15, 15);

}
.banner button:hover{
 background-color: rgb(146, 146, 236);
}
.colors{
    color: white;
    font-size: 13px;
}
.color1{
    width: 350px;
    float: left;
    background-color: rgb(140, 103, 175);
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
   
}
.color2{
    width: 380px;
    float: left;
    padding-left: 30px;
    background-color: rgb(248, 245, 59);
    padding-bottom: 30px;
    padding-top: 30px;
}
.color3{
    width: 380px;
    float: left;
    padding-left: 30px;
    background-color: red;
    padding-bottom: 30px;
    padding-top: 30px;
}
.color1 button{
border-radius: 30px;
background-color: rgb(140, 103, 175);
border:white solid 2px;
margin-bottom: 10px;
color: white;
}
.color2 button{
border-radius: 30px;
background-color: rgb(248, 245, 59);
border:white solid 2px;
margin-bottom: 10px;
color: white;
}
.color3 button{
border-radius: 30px;
background-color: red;
 border:white solid 2px;
margin-bottom: 10px;
color: white;
 }


 .color1 button:hover{
     background-color:rgb(203, 176, 228) ;
 }
 .color2 button:hover{
    background-color:rgb(242, 248, 151) ;
}
.color3 button:hover{
    background-color:rgb(233, 139, 127) ;
}