* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.inner_container {
    width: 90%;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #000;
    position: fixed;
    z-index: 1000;
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.fright {
    float: right;
}

nav img {
    padding: 20px 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 10px;
}

nav a {
    text-decoration: none;
    color: #ccc;
}

nav a:hover {
    color: #fff;
}

.banner {
    width: 100%;
    background-image: url("../images/slider-bg.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 300px 0 300px 0;
}

.banner_info {
    text-align: center;
}

.banner_info h1 {
    font-size: 50px;
}

p {
    line-height: 20px;
    font-size: 14px;
}

.banner_info button {
    padding: 10px 20px;
    border: 2px solid #fff;
    margin-top: 40px;
}

.about_head {
    padding: 70px 0;
    text-align: center;
    line-height: 30px;
}

.about1,
.about2,
.about3,
.about4 {
    width: 25%;
    padding-bottom: 30px;
}

.about1_head,
.about2_head,
.about3_head,
.about4_head {
    width: 50px;
    height: 50px;
    border: 5px solid #000;
    transform: rotate(45deg);
    margin: 30px 0;

}


.about1_info,
.about2_info,
.about3_info,
.about4_info {
    width: 60%;
    padding-left: 30px;
}

.users,
.gem,
.heart,
.clock {
    width: 40px;
    height: 40px;
    background-color: #000;
    margin: 5px;
}

.users i {
    font-size: 20px;
    color: #fff;
    margin: 10px 7px;
    transform: rotate(-45deg);
}

.gem i {
    font-size: 20px;
    color: #fff;
    margin: 12px 10px;
    transform: rotate(-45deg);
}

.heart i {
    font-size: 20px;
    color: #fff;
    margin: 12px 11px;
    transform: rotate(-45deg);
}

.clock i {
    font-size: 20px;
    color: #fff;
    margin: 11px;
    transform: rotate(-45deg);
}

.about1 h4,
.about2 h4,
.about3 h4,
.about4 h4 {
    padding: 15px 0;
}

.our_skills h4 {
    padding: 50px 0;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
}

.our_skills .p1,
.our_skills .p2 {
    width: 50%;
    padding-bottom: 50px;
}

.pi,
.hc,
.wp,
.js {
    width: 97%;
    height: 20px;
    border: 2px solid #000;
    margin: 15px 0;
}

.pi_inner {
    width: 75%;
    height: 20px;
    background-color: #000;
}

.hc_inner {
    width: 95%;
    height: 20px;
    background-color: #000;
}

.wp_inner {
    width: 85%;
    height: 20px;
    background-color: #000;
}

.js_inner {
    width: 70%;
    height: 20px;
    background-color: #000;
}

.our_pdf {
    background-color: #eee;
    padding: 60px 0;
}

.our_pdf h2 {
    padding-bottom: 15px;
}

.our_pdf h2,
.our_pdf p {
    width: 80%;
    line-height: 25px;

}

.b1 {
    position: relative;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.b1 button,
.b2 button {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
}

.btnoverlay {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    transition: all 0.6s;
    background-color: dimgray;
}

.b1:hover .btnoverlay,
.b2:hover .btn1overlay {
    left: 0;
}

.services_info {
    text-align: center;
}

.services_head {
    padding: 70px 0;
    line-height: 30px;
}

.development,
.design,
.hosting,
.pen {
    width: 24%;
    padding: 30px 0;
    text-align: center;
}

.development_head,
.design_head,
.hosting_head,
.pen_head {
    width: 50px;
    height: 50px;
    border: 5px solid #000;
    transform: rotate(45deg);
    margin: 7% 41%;
}

.mobile,
.pie_chart,
.cloud,
.pencil {
    width: 40px;
    height: 40px;
    background-color: #000;
    margin: 5px;
}

.mobile i {
    font-size: 20px;
    color: #fff;
    margin: 11px;
    transform: rotate(-45deg);
}

.pie_chart i {
    font-size: 20px;
    color: #fff;
    margin: 10px 9px;
    transform: rotate(-45deg);
}

.cloud i {
    font-size: 20px;
    color: #fff;
    margin: 9px 8px;
    transform: rotate(-45deg);
}

.pen i {
    font-size: 20px;
    color: #fff;
    margin: 10px;
    transform: rotate(-45deg);
}

.development p,
.design p,
.hosting p,
.pen p {
    padding: 10px 0;
}

.b2 {
    position: relative;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    cursor: pointer;
}

.btn1overlay {
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    transition: all 0.6s;
    background-color: dimgray;
}

.reviews_head {
    background-image: url(../images/testimonial-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

.reviews_head img {
    width: 100%;
    height: 500px;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    background-color: #000;
}

.reviews {
    position: relative;
}

.reviews_info {
    padding: 50px 0 30px 0;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 65px;
}

.para h2 {
    line-height: 25px;

}

.para img {
    margin-top: 20px;
}

.reviews_info p {
    padding: 5px 0 30px 0;
}

.para p {
    padding-bottom: 20px;
}

.reviews_info img {
    padding: 5px 0;
}

.our_works_info {
    padding: 70px 0;
    text-align: center;
    line-height: 25px;
}

.our_works_info img {
    margin: 15px 0;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
}

.menu a {
    text-decoration: none;
    color: darkslategrey;
}

.imgs {
    width: 100%;
}

.menu li:hover,
a:hover {
    background-color: #000;
    color: #fff;
}

.imgs .p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9 {
    width: 32%;
    height: 30%;
}

.imgs .p2,
.imgs .p5,
.imgs .p8 {
    margin-right: 20px;
    margin-left: 20px;
}

.some_fun_facts_head {
    background-image: url(../images/counter-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

.some_fun_facts {
    position: relative;
}

.some_fun_facts_info {
    padding: 30px 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 65px;
}

.some_fun_facts img {
    padding: 5px 0;
}

.some_fun_facts p {
    padding-bottom: 70px;
}

.some1,
.some2,
.some3,
.some4 {
    width: 25%;
}

.some1 h1,
.some2 h1,
.some3 h1,
.some4 h1 {
    padding: 20px 0 5px 0;
}

.some_fun_facts i {
    font-size: 35px;
    color: #fff;
}

.our_team {
    padding: 70px 0;
    text-align: center;
    line-height: 30px;
}

.our_team1 {
    width: 85%;
    margin: 0 auto;
    padding: 100px 0 0 70px;
}

.our_team_inner1,
.our_team_inner2,
.our_team_inner3,
.our_team_inner4 {
    width: 155px;
    height: 155px;
    border: 2px solid #eee;
    margin: 0 40px;
    transform: rotate(45deg);
    padding: 2px;
}

.our_team2 {
    width: 65%;
    margin: 0 auto;
    padding-left: 70px;
}

.our_team_inner5,
.our_team_inner6,
.our_team_inner7 {
    width: 155px;
    height: 155px;
    border: 2px solid #eee;
    margin: 0 40px;
    transform: rotate(45deg);
    padding: 2px;
}

.unika1,
.unika2,
.unika3,
.unika4,
.unika5,
.unika6,
.unika7 {
    width: 150px;
    height: 150px;
    background-color: dimgray;
    text-align: center;
    margin: 2px;
}

.our_team_inner1 h3,
.our_team_inner2 h3,
.our_team_inner3 h3,
.our_team_inner4 h3,
.our_team_inner5 h3,
.our_team_inner6 h3,
.our_team_inner7 h3 {
    transform: rotate(-45deg);
    padding: 60px 50px;
}

.our_partners {
    background-color: #eee;
    padding: 50px 0;
    text-align: center;
    line-height: 30px;
    margin-top: 70px;
}

.our_partners img {
    padding: 5px 0 5px 0;
}

.our_par_inner {
    width: 100%;
}

.img1,
.img2,
.img3,
.img4 {
    width: 25%;
    padding: 30px 0;
}

.prices {
    padding: 70px 0;
    text-align: center;
    line-height: 30px;
}

.basic,
.advanced,
.professional,
.ultimate {
    width: 23%;
}

.basic_head,
.advanced_head,
.ultimate_head {
    background-color: #eee;
    padding-bottom: 20px;
    margin-top: 60px;
    border-top: 5px solid #000;
}

.professional_head {
    background-color: #000;
    color: #fff;
    margin-top: 45px;
}

.professional_head h4 {
    padding-bottom: 30px;
}

.basic_head i,
.advanced_head i,
.professional_head i,
.ultimate_head i {
    font-size: 30px;
    padding-top: 30px;
}

.basic,
.advanced,
.professional {
    margin-right: 25px;
}

.basic h1,
.advanced h1,
.professional h1,
.ultimate h1 {
    background-color: #ddd;
    padding: 20px 0;
}

.basic .para1 p,
.advanced .para1 p,
.professional .para1 p,
.ultimate .para1 p {
    line-height: 40px;
}

.basic .btn,
.advanced .btn,
.professional .btn,
.ultimate .btn {
    background-color: #ddd;
    padding: 15px 0;
}

.basic button,
.advanced button,
.professional button,
.ultimate button {
    padding: 10px 40px;
    background-color: #000;
    color: #fff;
}

.professional button {
    margin: 10px 0;
}

.professional .btn {
    border-bottom: 5px solid #000;
}

.join_us {
    padding: 70px 0;
    text-align: center;
    line-height: 30px;
    background-color: #eee;
}

.join_imgs {
    width: 70%;
    margin: 0 auto;
    padding: 60px 0;
}

.join_img1,
.join_img2,
.join_img3,
.join_img4,
.join_img5,
.join_img6 {
    width: 50px;
    height: 50px;
    border: 5px solid #000;
    transform: rotate(45deg);
    margin: 0 40px;
}

.facebook,
.twitter,
.google,
.p,
.t,
.dribble {
    width: 40px;
    height: 40px;
    background-color: #000;
    margin: 5px;

}

.facebook i {
    font-size: 20px;
    color: #fff;
    margin: 10px;
    transform: rotate(-45deg);
}

.twitter i {
    font-size: 20px;
    color: #fff;
    margin: 11px 9px;
    transform: rotate(-45deg);
}

.google i {
    font-size: 20px;
    color: #fff;
    margin: 10px;
    transform: rotate(-45deg);
}

.p i {
    font-size: 20px;
    color: #fff;
    margin: 11px 9px;
    transform: rotate(-45deg);
}

.t i {
    font-size: 20px;
    color: #fff;
    margin: 11px 9px;
    transform: rotate(-45deg);
}

.dribble i {
    font-size: 20px;
    color: #fff;
    margin: 11px 9px;
    transform: rotate(-45deg);
}

.contacts_head {
    padding: 70px 0;
    text-align: center;
    line-height: 30px;
    background-color: #000;
    color: #fff;
}

.contacts1 {
    position: relative;
}

.contacts1_info {
    position: absolute;
    top: 20px;
    left: 65px;
    color: #fff;
}

.contacts1_head {
    background-image: url(../images/map-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 250px 0;
    position: relative;
}

.our_address,
.inputs {
    width: 50%;
    padding: 30px 0 50px 0;
}

.map p {
    line-height: 30px;
}

.map,
.phone,
.phone1,
.message,
.s {
    padding: 7px 0;
}

.inputs input,
textarea {
    padding: 10px 0 10px 5px;
    width: 100%;
    margin: 10px 0;
    background-color: dimgray;
}

.inputs input::placeholder,
textarea::placeholder {
    color: #ddd;
}

.inputs button {
    padding: 10px 0 10px 5px;
    width: 100%;
    margin: 10px 0;
    background-color: #999;
    color: #fff;
}

.inputs button:hover {
    background-color: dimgray;
}

.contacts2 {
    background-color: #999;
    color: #fff;
}

.contacts2_info {
    padding: 30px 0;
}

.usefull,
.subscribe,
.recent {
    width: 32%;
}

.subscribe input {
    width: 70%;
    margin: 20px 0;
    padding: 10px 0 10px 5px;
}

.subscribe button {
    width: 26%;
    padding: 10px 0;
    margin: 10px 0;
    background-color: #999;
    color: #fff;
    margin: 20px 0 20px 5px;
}

.usefull h4 {
    line-height: 30px;
    padding-bottom: 10px;
}

.usefull h5 {
    line-height: 25px;
}

.recent {
    margin-left: 30px;
}

.recent h4 {
    line-height: 30px;
    padding-bottom: 10px;
}

.recent p {
    line-height: 25px;
}

.recent span {
    color: #000;
    margin-right: 5px;
}

.minifooter {
    background-color: dimgray;
    text-align: center;
    color: #fff;
}

.minifooter p {
    padding: 20px 0;
}

.minifooter span {
    color: #999;
}

.arrow {
    width: 25px;
    height: 25px;
    border: 3px solid gray;
    transform: rotate(45deg);
    margin: 15px 0;
}

.arrow {
    position: fixed;
    bottom: 0;
    right: 30px;
}

.arrow i {
    color: gray;
    font-size: 20px;
    margin: 3px 5px;
    transform: rotate(-45deg);
}


@media all and (max-width:1024px) {
    
    .about1,
    .about2,
    .about3,
    .about4 {
        width: 400px;
        margin-left: 30px;
    }
    .development,
    .design,
    .hosting,
    .pen {
        width: 300px;
        margin-left: 70px;
    }
    .imgs .p2,
    .imgs .p5,
    .imgs .p8 {
        margin-right: 10px;
        margin-left: 10px;
    }

    .our_team_inner1,
    .our_team_inner2,
    .our_team_inner3,
    .our_team_inner4,
    .our_team_inner5,
    .our_team_inner6,
    .our_team_inner7 {
        width: 105px;
        height: 105px;
        margin: 0 30px;
    }

    .unika1,
    .unika2,
    .unika3,
    .unika4,
    .unika5,
    .unika6,
    .unika7 {
        width: 100px;
        height: 100px;
    }

    .our_team_inner1 h3,
    .our_team_inner2 h3,
    .our_team_inner3 h3,
    .our_team_inner4 h3,
    .our_team_inner5 h3,
    .our_team_inner6 h3,
    .our_team_inner7 h3 {
        padding: 40px 12px;
    }

    .basic {
        margin-right: 10px;
    }

    .advanced,
    .professional {
        margin: 0 10px;
    }

    .ultimate {
        margin-left: 10px;
    }
    
    .join_imgs {
        width: 100%;
        padding: 30px 0 140px 45px;
    }
    .join_img1,
    .join_img2,
    .join_img3,
    .join_img4,
    .join_img5,
    .join_img6 {
        margin: 0 30px;
    }
}

@media all and (max-width:960px) {

    .about1,
    .about2,
    .about3,
    .about4 {
        width: 300px;
        margin-left: 30px;
    }
    .our_pdf_info p{
        margin-bottom: 20px;
    }

    .development,
    .design,
    .hosting,
    .pen {
        width: 300px;
        margin-left: 30px;
    }

    .our_team_inner1,
    .our_team_inner2,
    .our_team_inner3,
    .our_team_inner4,
    .our_team_inner5,
    .our_team_inner6,
    .our_team_inner7 {
        margin: 25px;
    }

    .img1,
    .img2,
    .img3,
    .img4 {
        width: 50%;
    }

    .img4 {
        margin-top: -110px;
    }

    .basic,
    .advanced,
    .professional,
    .ultimate {
        width: 45%;
    }

    .advanced,
    .professional {
        margin: 0 10px;
    }

    .ultimate {
        margin-left: 10px;
    }

    .join_imgs {
       width: 75%;
        margin-left: 110px;
    }

    .join_img1,
    .join_img2,
    .join_img3,
    .join_img4,
    .join_img5,
    .join_img6 {
        margin: 15px 40px;
    }

    .our_address,
    .inputs {
        width: 47%;
        padding: 30px 0 50px 0;
    }

    .usefull,
    .subscribe,
    .recent {
        width: 31%;
    }
}


@media all and (max-width:720px) {
    nav ul li {
        padding: 10px 5px;
    }

    .about1,.about2,.about3,.about4{
        width: 500px;
        margin-left: 100px;
    }

    .our_pdf_info {
        display: grid;
    }

    .our_team1 {
        width: 60%;
    }

    .our_team2 {
        width: 60%;
    }
    
    .development_head,
    .design_head,
    .hosting_head,
    .pen_head{
        margin-left: 43%;
    }
    .development,
    .design,
    .hosting,
    .pen {
        width: 500px;
        margin-left: 60px;
    }

    .join_imgs {
        width:85%;
        margin-left:40px;
    }

    .reviews_info,
    .some_fun_facts_info {
        width: 500px;
    }
}

@media all and (max-width:500px) {
    nav{
       
    }
    
    .about_info,
    .services_info {
        display: grid;
    }

    .about1_info,
    .about2_info,
    .about3_info,
    .about4_info {
        width: 250px;
    }
    .development_head,
    .design_head,
    .hosting_head,
    .pen_head{
        margin-left: 40%;
    }
    .development,
    .design,
    .hosting,
    .pen {
        width: 300px;
        margin-left: 60px;
    }
    .about_head,.reviews_info,
    .some_fun_facts_info,.contacts1_info{
        width: 400px;
    }
    .imgs .p1,.imgs .p2,.imgs .p3,.imgs .p4,.imgs .p5,.imgs .p6,.imgs .p7,.imgs .p8,.imgs .p9{
       width:40%;
       height: 40%;
    }
    .imgs .p3{
        margin-right: 10px;
    }
    .imgs .p1,.imgs .p3,.imgs .p5,.imgs .p7,.imgs .p9{
        margin-left: 40px;
    }
     .our_team1 {
        width: 100%;
    }

    .our_team2 {
        width: 100%;
    }
    .join_imgs {
        width:70%;
        margin:0 0 80px 30px;
    }
    
}
