* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    width: 100%;
    border-spacing: border-box;
}

.inner_container {
    width: 1000px;
    margin: 0 auto;
}

.maria_wiliams {
    background-color: aliceblue;
}

.maria_head {
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.btn {
    width: 300px;
}

.b1 {
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.b2 {
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 5px;
}

button {
    font-size: 12px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

p {
    line-height: 20px;

}

h3 {
    letter-spacing: 2px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.inner .para {
    width: 500px;
    padding-right: 50px;
}

.inner_img {
    width: 400px;
}

.inner_img img {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.para h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.para h3 {
    padding: 20px 0;
    letter-spacing: 2px;
}

.para_inner {
    display: flex;
    justify-content: space-between;
}

.p1 h5,
.p2 h5 {
    line-height: 30px;
}

.p1 {
    padding-right: 20px;
}

main {
    background-color: #eee;
}

.main_info {
    padding: 30px 0;
}

.social_img,
.p3,
h2 {
    float: left;
    width: 32%;
}

.clear {
    clear: both;
}

.main_info h2 {
    text-align: center;
    word-spacing: 2px;
}

.p3 {
    border-bottom: 1px solid black;
    padding-top: 15px;
    margin: 0 20px 0 10px;
}

.social_img i {
    float: left;
    width: 60px;
    font-size: 30px;
}

.clear {
    clear: both;
}

.work_exp_info {
    width: 70%;
}

.work_exp h3 {
    width: 182px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.circle .circle1 {
    color: #ddd;
}

.circle1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20;
    left: -5px;
    border: 1px solid black;
    border-radius: 15px;
}

.circle2 {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 50px;
    left: -5px;
    border: 1px solid black;
    border-radius: 15px;
}

.top1,
.top2 {
    padding-left: 50px;
    border-left: 1px solid #000;
    position: relative;
    margin-left: 30px;
}

.top1 {
    padding-bottom: 50px;
}

.top1 h1,
.top2 h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

.top1 h6,
.top2 h6 {
    padding: 10px 0 30px 0;
}

.education_info {
    width: 70%;

}

.education h3 {
    width: 105px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.circle1 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 20px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.circle2 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 30px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.top3,
.top4 {
    padding-left: 50px;
    border-left: 1px solid #000;
    margin-left: 30px;
}

.top3,
.top4 {
    position: relative;
}

.circle3 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 20px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.circle4 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 30px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.top3 {
    padding-bottom: 50px;
}

.top3 h1,
.top4 h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

.top3 h6,
.top4 h6 {
    padding: 10px 0 30px 0;
}

.references_info {
    width: 70%;

}

.references h3 {
    width: 117px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.top5 p {
    padding-left: 80px;
}

.top5 h1 {
    margin-left: 80px;
    font-size: 50px;
}

.top5 h5,
.top5 h6 {
    padding: 10px 0 0 80px;
}

.top5 h6 {
    margin-bottom: 70px;
}

.portfolio_head {
    width: 70%;
}

.portfolio_head h3 {
    float: left;
    width: 95px;
    height: 25px;
    border-bottom: 2px solid #000;
}

.portfolio_head button {
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
}

.portfolio_imgs {
    width: 92%;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 300px;
    background-color: lightsteelblue;
    transition: all 0.5s;
    opacity: 0.5;
}

.portfolio_img1 img,
.portfolio_img2 img,
.portfolio_img3 img,
.portfolio_img4 img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.portfolio_img1:hover .overlay,
.portfolio_img2:hover .overlay,
.portfolio_img3:hover .overlay,
.portfolio_img4:hover .overlay {
    bottom: 0;
}

.portfolio_img1,
.portfolio_img2,
.portfolio_img3,
.portfolio_img4 {
    position: relative;
    float: left;
    width: 280px;
    height: 300px;
    margin-top: 50px;
}

.clear {
    clear: both;
}

.portfolio_img1,
.portfolio_img2,
.portfolio_img3 {
    margin-right: 40px;
}

.portfolio_imgs h5 {
    font-size: 25px;
}

.portfolio_img1 p,
.portfolio_img2 p,
.portfolio_img3 p,
.portfolio_img4 p {
    padding-bottom: 20px;
}

.extra_skills_info {
    width: 70%;
}

.extra_skills h3 {
    width: 125px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 120px 0 70px 0;
}


.extra_skills_img1,
.extra_skills_img2,
.extra_skills_img3,
.extra_skills_img4 {
    float: left;
    width: 225px;
    height: 300px;
    margin-bottom: 50px;
}

.clear {
    clear: both;
}

.extra_skills_img3 {
    margin-right: 20px;
}

.extra_skills_img1 img,
.extra_skills_img2 img {
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 70px 0 20px 10px;
}

.extra_skills_img1 h5,
.extra_skills_img2 h5 {
    text-align: center;
    width: 170px;
}

.extra_skills_img1 p,
.extra_skills_img2 p {
    width: 160px;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}

.extra_skills_img3,
.extra_skills_img4 {
    background-color: #000;
    text-align: center;
}

.win1,
.win2 {
    width: 50px;
    height: 50px;
    margin: 80px 0 20px 0;
}

.extra_skills_img3 h1,
.extra_skills_img4 h1 {
    color: #fff;
}

.extra_skills_img3 h6,
.extra_skills_img4 h6 {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}

.contact_me_info {
    width: 70%;
    margin: auto;

}

.contact_me h3 {
    width: 123px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.input {
    padding: 10px 0;
}

.name,
.email,
.subject,
textarea {
    padding: 20px 0;
    outline: 0;
    border: none;
    border-bottom: 2PX solid #999;
}

.name,
.email {
    width: 49%;
}

.email {
    margin-left: 2%;
}

.subject,
textarea {
    width: 100%;
}

.btn1 {
    text-align: right;
    margin: 20px 0 0 50px;
}

.btn1 button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
}

footer {
    padding: 20px 0px;
    background-color: dimgray;
    text-align: center;
    color: darkgrey;
    font-size: 12px;
    margin-top: 50px;
}

footer span {
    color: blue;
}

footer i {
    font-size: 13px;
    margin: 0 5px;
}

@media all and (max-width:1024px){
    .portfolio_img1,
    .portfolio_img3 {
           margin-left:180px;
    }
    .social_imgs{
        display: grid;
        justify-content: space-around;
    }
    .portfolio_img3,
    .portfolio_img4{
        margin-top: 100px;
    }
    .extra_skills_img1,
    .extra_skills_img2,
    {
       width:300px;
    }
    .extra_skills_img1{
         margin-left:100px;
    } 
    .extra_skills_img3{
        margin-left:100px;
    }
}

@media all and (max-width:900px){
    .maria_head {
        display: grid;
        justify-content: space-around;
        text-align: center;
    }

    .btn {
        display: grid;
        justify-content: space-around;
        text-align: center;
    }

    .b1 {
        margin: 20px 0 10px 0;
    }

    .inner {
        display: grid;
        text-align: center;
        margin: 0 150px;
    }
    .para_inner {
        margin:0 0 30px 20px;
    }
    .portfolio_img1,
    .portfolio_img3 {
           margin-left:25px;
    }
    .social_imgs{
        display: grid;
        justify-content: space-around;
    }
    .portfolio_img3,
    .portfolio_img4{
        margin-top: 100px;
    }
    .extra_skills_img1{
         margin-left:10px;
    } 
    .extra_skills_img3{
        margin-left:10px;
    }
    .extra_skills_img1,
    .extra_skills_img2{
        
    }   
    .extra_skills_img4{
         margin-left:25px;
    }
}
@media all and (max-width:500px) {
    .maria_head {
        width: 100%;
        display: grid;
        justify-content: space-around;
        text-align: center;
    }

    .btn {
        display: grid;
        justify-content: space-around;
        text-align: center;
    }

    .b1 {
        margin: 20px 0 10px 0;
    }

    .inner {
        display: grid;
        text-align: center;
        margin: 20px;
    }

    .para_inner {
        margin-left: 20px;
    }

    .inner_img {
        margin: 20px;
    }

    .social_img,
    .p3,
    h2 {
        float: none;
        margin: 20px 80px;
        text-align: center;

    }

    .top1 p,
    .top2 p,
    .top3 p,
    .top4 p,
    .top5 p {
        width: 350px;
    }

    .work_exp,
    .education,
    .references {
        width: 400px;
        margin: 0 auto;
    }

    .portfolio_head {
        display: grid;
        justify-content: space-around;
        text-align: center float: none;
    }

    .portfolio_head button {
        margin-top: 20px;
    }

    .portfolio_imgs {
        display: grid;
        justify-content: space-around;
        text-align: center;
    }

    .portfolio_img1,
    .portfolio_img2,
    .portfolio_img3,
    .portfolio_img4 {
        margin-bottom: 50px;
    }
    .portfolio_img2,.portfolio_img4{
        margin-left:25px;
    }
    .extra_skills_info{
        width:50%;
        display: grid;
        justify-content: space-around;
        text-align: center
    }
    .extra_skills_img1 img,
    .extra_skills_img2 img{
        margin-left:-40px;
    }
    .extra_skills_img4{
        margin-left:9px;
    }
}

