* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    border-spacing: border-box;
}

.inner_container {
    width: 1000px;
    margin: auto;
}

.maria_wiliams {
    background-color: aliceblue;
    padding: 50px 0;
}

.maria_head {
    padding: 0 30px 30px 30px;
}

.maria_head h2 {
    float: left;
}

.maria_head p {
    font-size: 12px
}

.clear {
    clear: both;
}

.btn {
    float: right;
}

.b1 {
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.b2 {
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 5px;
}

p {
    line-height: 20px;

}

h3 {
    letter-spacing: 2px;
}

.inner .para {
    float: left;
    width: 500px;
    padding-right: 50px;
}

.inner img {
    float: left;
    width: 450px;
}

.para h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.para h3 {
    padding: 20px 0;
    letter-spacing: 2px;
}

.p1,
.p2 {
    float: left;
}

.clear {
    clear: both;
}

.p1 h5,
.p2 h5 {
    line-height: 30px;
}

.p1 {
    padding-right: 20px;
}

main {
    background-color: #eee;
}

.main_info {
    padding: 30px 0;
}

.main_info .social_img,
.p3,
h2 {
    float: left;
    width: 300px;
}

.clear {
    clear: both;
}

.social_img {}

.p3 {
    border-bottom: 1px solid black;
    padding-top: 15px;
    margin: 0 20px;
}

.p,
.in,
.instagram,
.facebook,
.twitter {
    float: left;
    width: 50px;
}

.clear {
    clear: both;
}

.work_exp h3 {
    padding: 50px 0 70px 60px;
    text-decoration-line: underline;
    
}
.circle .circle1 {
    color: #ddd;
}

.circle1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20;
    left: -5px;
    border: 1px solid black;
    border-radius: 15px;
}

.circle2 {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 50px;
    left: -5px;
    border: 1px solid black;
    border-radius: 15px;
}

.top1,
.top2 {
    width: 700px;
    padding-left: 50px;
    border-left:1px solid #000;
    position: relative;
    margin-left:100px;
}

.top1 {
    padding-bottom: 50px;
}

.top1 h1,
.top2 h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

.top1 p,
.top2 p {
    width: 700px;
}

.top1 h6,
.top2 h6 {
    padding: 10px 0 30px 0;
}

.education h3 {
    padding: 50px 0 70px 60px;
    text-decoration-line: underline;
    line-height: 50px;
}

.circle1 {
    width: 5px;
    height: 5px;
    background-color:#ddd;
    position: absolute;
    top: 20px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.circle2 {
    width: 5px;
    height: 5px;
    background-color:#ddd;
    position: absolute;
    top: 30px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.top3,
.top4 {
    width: 700px;
    padding-left: 50px;
    border-left:1px solid #000;
    margin-left:100px;
}
.top3,.top4{
    position:relative;
}
.circle3 {
    width: 5px;
    height: 5px;
    background-color:#ddd;
    position: absolute;
    top: 20px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.circle4 {
    width: 5px;
    height: 5px;
    background-color:#ddd;
    position: absolute;
    top: 30px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}
.top3 {
    padding-bottom: 50px;
}

.top3 h1,
.top4 h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

.top3 p,
.top4 p {
    width: 700px;
}

.top3 h6,
.top4 h6 {
    padding: 10px 0 30px 0;
}

.references h3 {
    padding: 50px 0 70px 60px;
    text-decoration-line: underline;
}
.top5 p {
    padding-left: 150px;
    width: 700px;
}

.top5 h5,
.top5 h6 {
    padding: 15px 0 0 150px;

}

.portfolio_head h3 {
    float:left;
    padding: 50px 0 70px 60px;
    text-decoration-line: underline;
}

.portfolio_head button {
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top:50px;
}

a {
    text-decoration: none;
    color: #000;
}

.portfolio_head button:hover {
    background-color: #ccc;
}

.portfolio_imgs {
    width: 100%;
}

.imgs_inner {
    width: 87%;
    margin: auto;
}

.img1 {
    float: left;
    width: 310px;
    height: 300px;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

.img2 {
    float: left;
    width: 310px;
    height: 300px;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.img3 {
    float: left;
    width: 310px;
    height: 300px;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.img4 {
    float: left;
    width: 310px;
    height: 300px;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
    border: 1px solid #0f0;
}

.portfolio_img1,
.portfolio_img2,
.portfolio_img3,
.portfolio_img4 {
    float: left;
    width: 310px;
    margin-right: 10px;
}

.clear {
    clear: both;
}

.portfolio_imgs h5 {
    font-size: 25px;
}

.extra_skills h3 {
    padding: 50px 0 70px 60px;
    text-decoration-line: underline;
}

.extra_skills_imgs {}

.extra_skills_img1,
.extra_skills_img2,
.extra_skills_img3,
.extra_skills_img4 {
    float: left;
    width: 200px;
    height: 250px;
    margin-right: 12px;
}

.clear {
    clear: both;
}

.extra_skills_imgs h5 {
    text-align: center;
    padding-left:60px;
}

.extra_skills_img1 p,.extra_skills_img2 p{
    text-align: center;
    font-size:15px;
    padding-top:5px;
    padding-left:60px;
}

.extra_skills_img3,
.extra_skills_img4 {
    background-color: #000;
    text-align: center;
}

.win1,
.win2 {
    width: 40px;
    height: 40px;
    margin:60px 0 20px 0;
}
.extra_skills_img3 h1,
.extra_skills_img4 h1{
    color:#fff;
}
.extra_skills_img3 h6,
.extra_skills_img4 h6{
    color:#fff;
    font-size:12px;
    margin-top:10px; 
}