* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    border-spacing: border-box;
}

.inner_container {
    width: 1000px;
    margin: auto;
}

.maria_wiliams {
    background-color: aliceblue;
    padding: 50px 0;
}

.maria_head {
    width: 97%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.maria_head h2 {
    float: left;
}

.maria_head p {
    font-size: 12px
}

.fleft {
    float: left;
}

.clear {
    clear: both;
}

.btn {
    float: right;
}

.b1 {
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.b2 {
    padding: 7px 20px;
    background-color: #fff;
    border-radius: 5px;
}

button {
    font-size: 12px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

p {
    line-height: 20px;

}

h3 {
    letter-spacing: 2px;
}

.inner .para {
    float: left;
    width: 500px;
    padding-right: 50px;
}

.inner img {
    float: left;
    width: 450px;
}

.para h1 {
    font-size: 50px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.para h3 {
    padding: 20px 0;
    letter-spacing: 2px;
}

.p1,
.p2 {
    float: left;
}

.clear {
    clear: both;
}

.p1 h5,
.p2 h5 {
    line-height: 30px;
}

.p1 {
    padding-right: 20px;
}

main {
    background-color: #eee;
}

.main_info {
    padding: 30px 0;
}

.social_img,
.p3,
h2 {
    float: left;
    width: 32%;
}

.clear {
    clear: both;
}

.main_info h2 {
    text-align: center;
    word-spacing: 2px;
}

.p3 {
    border-bottom: 1px solid black;
    padding-top: 15px;
    margin: 0 20px 0 10px;
}

.social_img i {
    float: left;
    width: 60px;
    font-size: 30px;
}

.clear {
    clear: both;
}

.work_exp_info {
    width: 60%;
    margin: auto;
}

.work_exp h3 {
    width: 182px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.circle .circle1 {
    color: #ddd;
}

.circle1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20;
    left: -5px;
    border: 1px solid black;
    border-radius: 15px;
}

.circle2 {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 50px;
    left: -5px;
    border: 1px solid black;
    border-radius: 15px;
}

.top1,
.top2 {
    width: 700px;
    padding-left: 50px;
    border-left: 1px solid #000;
    position: relative;
    margin-left: 50px;
}

.top1 {
    padding-bottom: 50px;
}

.top1 h1,
.top2 h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

.top1 p,
.top2 p {
    width: 700px;
}

.top1 h6,
.top2 h6 {
    padding: 10px 0 30px 0;
}

.education_info {
    width: 60%;
    margin: auto;
}

.education h3 {
    width: 105px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.circle1 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 20px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.circle2 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 30px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.top3,
.top4 {
    width: 700px;
    padding-left: 50px;
    border-left: 1px solid #000;
    margin-left: 50px;
}

.top3,
.top4 {
    position: relative;
}

.circle3 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 20px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.circle4 {
    width: 5px;
    height: 5px;
    background-color: #ddd;
    position: absolute;
    top: 30px;
    left: -3.5px;
    border: 1px solid black;
    border-radius: 50px;
}

.top3 {
    padding-bottom: 50px;
}

.top3 h1,
.top4 h1 {
    font-size: 40px;
    padding-bottom: 15px;
}

.top3 p,
.top4 p {
    width: 700px;
}

.top3 h6,
.top4 h6 {
    padding: 10px 0 30px 0;
}

.references_info {
    width: 60%;
    margin: auto;
}

.references h3 {
    width: 117px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.top5 p {
    padding-left: 100px;
    width: 700px;
}

.top5 h1 {
    margin-left: 100px;
    font-size:50px;
}

.top5 h5,
.top5 h6 {
    padding: 15px 0 0 100px;

}

.portfolio_head {
    width: 60%;
    margin: auto;
}

.portfolio_head h3 {
    float: left;
    width: 95px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.portfolio_head button {
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.portfolio_imgs {
    width: 95%;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 300px;
    background-color: lightsteelblue;
    transition: all 0.5s;
    opacity: 0.5
}

.portfolio_img1 img,
.portfolio_img2 img,
.portfolio_img3 img,
.portfolio_img4 img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.portfolio_img1:hover .overlay,
.portfolio_img2:hover .overlay,
.portfolio_img3:hover .overlay,
.portfolio_img4:hover .overlay {
    bottom: 0;
}

.portfolio_img1,
.portfolio_img2,
.portfolio_img3,
.portfolio_img4 {
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
}

.clear {
    clear: both;
}

.portfolio_img1,
.portfolio_img2,
.portfolio_img3 {
    margin-right: 20px;
}

.portfolio_imgs h5 {
    font-size: 25px;
}

.portfolio_img1 p,
.portfolio_img2 p,
.portfolio_img3 p,
.portfolio_img4 p {
    padding-bottom: 20px;
}

.extra_skills_info {
    width: 60%;
    margin: auto;
}

.extra_skills h3 {
    width: 125px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 120px 0 70px 0;
}


.extra_skills_img1,
.extra_skills_img2,
.extra_skills_img3,
.extra_skills_img4 {
    float: left;
    width: 190px;
    height: 300px;
    margin-bottom: 50px;
}

.clear {
    clear: both;
}

.extra_skills_img1,
.extra_skills_img2,
.extra_skills_img3 {
    margin-right: 10px;
}

.extra_skills_img1 img,
.extra_skills_img2 img {
    width: 150px;
    height: 150px;
    margin: 70px 0 20px 0;
}

.extra_skills_img1 h5,
.extra_skills_img2 h5 {
    text-align: center;
    width: 170px;
}

.extra_skills_img1 p,
.extra_skills_img2 p {
    width: 170px;
    text-align: center;
    font-size: 13px;
    padding-top: 5px;
}

.extra_skills_img3,
.extra_skills_img4 {
    background-color: #000;
    text-align: center;
}

.win1,
.win2 {
    width: 50px;
    height: 50px;
    margin: 80px 0 20px 0;
}

.extra_skills_img3 h1,
.extra_skills_img4 h1 {
    color: #fff;
}

.extra_skills_img3 h6,
.extra_skills_img4 h6 {
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}

.contact_me_info {
    width: 60%;
    margin: auto;

}

.contact_me h3 {
    width: 123px;
    height: 25px;
    border-bottom: 2px solid #000;
    margin: 50px 0 70px 0;
}

.input {
    padding: 10px 0;
}

.name,
.email,
.subject,
textarea {
    padding: 10px 0;
    outline: 0;
    border: none;
    border-bottom: 2PX solid #CCC;
}

.name,
.email {
    width: 49%;
}

.email {
    margin-left: 2%;
}

.subject,
textarea {
    width: 100%;
}

.btn1 {
    text-align: right;
    margin: 20px 0 0 50px;
}

.btn1 button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 12px;
}

footer {
    padding: 20px 0px;
    background-color: dimgray;
    text-align: center;
    color: darkgrey;
    font-size: 12px;
    margin-top: 50px;
}

footer span {
    color: blue;
}

footer i {
    font-size: 13px;
    margin: 0 5px;
}
