*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.container{
    width:90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   
}
body,input{
    font-family: 'Josefin Sans', sans-serif ;
    font-size:20px;
}
main{
   
    background-color: orange;
}
.header{
    height:70px;
}
.header p{
    padding-top:25px;
    color: white;
    
}
.clear{
    clear: both;
}
.logo{
    float: left;
}
/*.right{
    float:right;
}
.right1{
    float:right; 
}*/
a{
    text-decoration: none;
}
.a1{
   padding-top: 25px;
    display: inline-block;
    padding-left: 30px;
    color:orange;
    
}
.a2{
   padding-top: 25px;
    display: inline-block;
     color:orange;
}
.logo h1{
    padding-top: 25px;
    color:orange;
}
.section1{
    height: 80px;
     box-shadow: 1px 1px 5px rgb(0 0 0 / 60%);
}
/*--------------------------*/
nav {
    height: 50px;
}

.list li {
   
    list-style: none;
    display: inline-block;
    padding:17px 15px;
}

a {
    text-decoration: none;
    color: black;
}

nav li:hover {
    border-bottom: 5px solid green !important;
    padding-top: 10px;
}
nav{
     padding-top:20px;
    float: right;
}
.back{
   /* background:hsl(0, 0%, 96%);*/
    height:610px;
    background-color:oldlace;
    position:relative;
   
}
/*.box{
    width: 450px;
    border:1px solid black;
    margin-top:50px;
    
}*/
.container-info{
    width:50%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
   
}
.box{
     margin-top:35px;
position: absolute;
     border-radius:5px;
   width: 450px;
    margin-bottom:35px;
   text-align: center;
    padding-top:40px;
    margin-left:120px;
    background:hsl(0, 0%, 96%);
     box-shadow: 1px 1px 5px rgb(0 0 0 / 60%);
}

.login h1{
    text-align: center;
    color:orange;
    padding-bottom: 20px;
    font-size:30px;
    padding-top:30px;
    font-weight:400;
}
.input{
    text-align: center;
}
.fname{
    width:350px;
    height: 50px;
}
input{
    font-size: 15px;
    padding-left: 10px;
}
input:hover{
    outline-color: orange;
border:2px solid orange;
}
.botton{
   
   width:350px;
    height: 50px;
    margin-left:50px;
    background-color: orange;
    color: white;
    font-size:20px;
    border:2px solid orange;
    display:block;
    margin-top:15px;
}
button{
    text-align: center;
}
.don{
    padding-top: 20px;
    font-size: 15px;
    padding-bottom: 30px;
}
.span{
    color: orange;
    text-decoration-color: orange;
}
.span:hover{
    text-decoration-color: orange;
}
.heading h1{
    padding-top:60px;
    text-align:center;
    font-size: 40px;
}

i{
    font-size:15px;
    color:green;
}
.icon{
    padding-top: 10px;
    text-align: center;
}
.para p{
    text-align: center;
    color: orange;
    padding-top:20px;
    font-size:22px;
}

.border{
    width:90%;
    height:50px;
    margin:30px auto 30px auto;
    background-color:gainsboro;
    border:2px solid gray;
    border-left:none;
    border-right:none;
}

/*.para1 p{
padding-top: 40px;
    font-size: 40px;
    text-align: center;
}*/
.para1 p{
    text-align: center;
}
.opp{
    color:#444;
    padding-top:40px;
    word-spacing:4px;
    
}
.number{
     color:#444;
    padding-top:9px;
     word-spacing:4px;
    padding-bottom:20px;
}
.nav li{
    display: inline-block;
    padding:15px 16px;
    font-size:15px;
    padding-left:30px;
}
.copy p{
    padding-top: 10px;
    text-align: center;
    padding-bottom:40px;
}
.footer{
    width:100%;
    height:87px;
    margin: auto;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 60%);
    background-color:black;
    border-top:9px solid black;
     border-bottom:9px solid black;
    /* border-bottom:4px solid orange;*/
}
.nav1{
   text-align:center;
}
.nav1 a{
    
    display: inline-block;
    padding-top: 25px;
   padding-right:40px;
    text-align:center;
    padding-left:20px;
}
.colorgreen{
    background-color: green;
    height: 70px;
    color:white;
  
}
.colorblue{
background-color:#3B5998;
     height: 70px;
    color:white;
    
}
.colorblue1{
    background-color:#00ACED;
    height: 70px;
    color:white;
    
}
.colorblue2{
     background-color:#0077B5;
    height: 70px;
    color:white;
}
.colorred{
     background-color:#E62117;
    height: 70px;
    color:white;
}
.colorred1{
     background-color:#BD081B;
    height: 70px;
    color:white;
}
.colorb{
   background-color:#8A3AB9;
    height: 70px;
    color:white; 
}
.colormy{
    background-color:#3F51B4;
    height: 70px;
    color:white; 
}

/*.container1{
    width:90%;
    margin: auto;
    
}
.colorgreen{
    float:left;
    width:149px;
    height:70px;
   
    text-align: center;
    background-color: green;
    padding-top: 22px;
   
}
.colorgreen a{
    color:white;
}
.colorblue{
    float: left;
     width:149px;
    height:70px;
   
     text-align: center;
    background-color:#3B5998;
     padding-top: 22px;
}
.colorblue a{
    color:white;
}
.colorblue1{
    float: left;
     width:149px;
    height:70px;
    
     text-align: center;
     background-color:#00ACED;
     padding-top: 22px;
}
.colorblue1 a{
    color:white;
}
.colorblue2{
    float: left;
     width:149px;
    height:70px;
 
     text-align: center;
     background-color:#0077B5;
     padding-top: 22px;
}
.colorblue2 a{
    color:white;
}
.colorred{
    float: left;
     width:149px;
    height:70px;
  
     text-align: center;
    background-color:#E62117;
     padding-top: 22px;
}
.colorred a{
    color:white;
}
.colorred1{
    float: left;
     width:149px;
    height:70px;
  
     text-align: center;
     background-color:#BD081B;
     padding-top: 22px;
}
.colorred1 a{
    color:white;
}
.colorb{
    float: left;
     width:149px;
    height:70px;
   
     text-align: center;
     background-color:#8A3AB9;
     padding-top: 22px;
}
.colorb a{
    color:white;
}
.colormy{
    float: left;
     width:153px;
    height:70px;
  
     text-align: center;
     background-color:green;
     padding-top: 22px;
}
.colormy a{
    color:white;
}*/
@media (max-width:1346px){
    
    
     .container{
        width:100%;
    }
    .nav{
        width:100%;
        float:none;
        text-align: center;
    }
     .border{
        width:100%;
        height: auto;
    }
}
@media (max-width:1100px){
    .container{
        width:100%;
    }
    .box{
        position: none;
       margin-left: auto;
       margin-top:40px;
       
        
    }
}
@media (max-width:992px){
    .container{
        width:100%;
    }
    .box{
        position: none;
        margin-left: auto;
       margin-top:40px;
        
    }
}
@media (max-width:768px){
     .container{
        width:100%;
    }
     .border{
        width:100%;
        height: auto;
    }
    .nav{
        width:100%;
        float:none;
        text-align: center;
    }
    nav{
        width:100%;
        float:none;
        text-align: center;
    }
    .logo{
        float: none;
        text-align: center;
    }
    .menu li a{
        width: 100%;
        text-align: center;
    }
    .section1{
        height:150px;
    }
    .box{
        position:none;
        margin-left: auto;
       margin-top:40px;
       
        
    }
    .botton{
       margin:auto;
    }
    .footer{
        height:auto;
        
    }
}

@media (max-width:576px){
      .container{
        width:100%;
    }
    .nav{
        width:100%;
        float:none;
        text-align: center;
    }
    nav{
       width:100%;
        float:none;
        text-align: center;  
    }
    .logo{
        float: none;
        text-align: center;
    }
    .section1{
        height:150px;
    }
    .container-info{
        width:100%;
    }
    .back{
        width:100%;
        position: none;
        margin:inherit;
        padding: inherit;
        background:none;
    }
    .box{
        width:100%;
        position: none;
      margin:auto;
      
       
        
    }
    .botton{
       margin:auto;
    }
    
    .border{
        width:100%;
        height: auto;
    }
    .footer{
        width:100%;
        height:auto;
       
    }
    .nav1 a{
        display: block;
        margin:inherit;
    }
    
    
}

