.container{
		width:900px;
		border:1px solid #eee;
		margin:0 auto;
		}
	.header{
		background-color:orange;
		width:900px;
		height:30px;
		padding-bottom:15px;
		
		color:white;
		
		}
	.header p{
		float:left;
		width:400px;
		padding-left:20px;
		}
	.a{
		color:white;
		text-decoration:none;
		float:left;
		padding-left:260px;
		margin-top:12px;
		}
	.a1{
		color:white;
		text-decoration:none;
		float:left;
		margin-top:12px;
		padding-left:30px;
		}
	.img{
		background-image:url(https://4.imimg.com/data4/PS/VO/MY-630308/hp-pavilion-laptop-keyboard-500x500.gif);
		width:780px;
		height:300;
		font-size:20px;
		color:white;
		padding-left:120px;
		padding-top:50px;
		background-size:cover;
		position:absolutution;
		}
	.img p{
		color:white;
		}	
	.img small{
		color:red;
		}	
	.main h2{
		color:orange;
		padding-left:250px;
		}
	.main p{
		color:orange;
		padding-left:280px;
		}
	.p1{
		padding-left:200px;
		
		}
	.para p{
		font-size:15px;
		width:900px;
		padding-left:30px;
		}
	.button a{
		
		text-decoration:none;
		color:white;
		background-color:orange;
		border-radius:20px;
		padding:10px 10px 10px 10px;
		margin-left:350px;
		}
	.border{
		border:1px solid #ffff;
		width:900px;
		background-color:#ffff;
		}
	.h h2{
		color:orange;
		padding-left:250px;
	 	}
	.h p{
		color:orange;
		padding-left:280px;
		}
	.h strong{
		padding-left:220px;
		}
	
	.img1{
		padding-top:20px;
		width:200px;
		height:100px;
		float:left;
		}
	.img1 h5{
		color:orange;
		}
	
	.img2{
		padding-top:20px;
		width:200px;
		height:100px;
		float:left;
		
	
		}
	.img3{
		padding-top:20px;
		width:200px;
		height:100px;
		float:left;
		padding-left:30px;
		
		}
	.img2 h5{
		
		color:orange;
		}
	.img3 h5{
		color:orange;
		}
	.img4{
		padding-top:20px;
		width:200px;
		height:100px;
		float:left;
		padding-left:10px;
		
		}
	.img4 h5{
		color:orange;
		}
	.total{
		border:1px solid #ffff;
		width:900px;
		height:400px;
		}
	.orange{
		background-color:orange;
		width:900px;
		height:500px;
		}
	.white h2{
		color:white;
		padding-left:200px;
		}
	.white p{
		padding-left:340px;
		color:white;
		font-size:26px;
		}
	.white small{
		color:white;
		padding-left:250px;
		}
	.white strong{
		padding-left:200px;
		
		}
	.box{
		margin-top:20px;
		border:1px solid black;
		width:200px;
		height:320px;
		float:left;
		margin-left:10px;
		background-color:white;
		}
	.box1 h5{
		color:orange;
		padding-left:50px;
		}
	.box1 img{
		padding-left:50px;
		}
	.box2{
		margin-top:20px;
		margin-left:10px;
		border:1px solid black;
		float:left;
		width:200px;
		background-color:white;
		}
	.box3 h5{
		color:orange;
		padding-left:50px;
		}
	.box3 img{
		padding-left:50px;
		}
	.box4{
		margin-top:20px;
		margin-left:10px;
		border:1px solid black;
		float:left;
		width:200px;
		background-color:white;
		}
	.box5 h5{
		color:orange;
		padding-left:50px;
		}
	.box5 img{
		padding-left:50px;
		}
	.box6{
		margin-top:20px;
		margin-left:10px;
		border:1px solid black;
		float:left;
		width:200px;
		background-color:white;
		}
	.box7 h5{
		color:orange;
		padding-left:50px;
		}
	.box7 img{
		padding-left:50px;
		}
	.orange1 h2{
		color:orange;
		padding-left:200px;
		}
	.orange1 small{
		color:orange;
		padding-left:250px;
		}
	.orange1 strong{
		padding-left:200px;
		}
	.google{
		margin-top:20px;
		margin-left:60px;
		border:1px solid black;
		float:left;
		width:200px;
		height:300px;
		}
	.google1 h5{
		color:orange;
		padding-left:50px;
		}
	.google1 img{
		padding-left:50px;
		}
	.google2{
		margin-top:20px;
		margin-left:70px;
		border:1px solid black;
		float:left;
		width:200px;
	
		}
	.google3 h5{
		color:orange;
		padding-left:50px;
		}
	.google3 img{
		padding-left:50px;
		}
	.google4{
		margin-top:20px;
		margin-left:70px;
		border:1px solid black;
		float:left;
		width:200px;
	
		}
	.google5 h5{
		color:orange;
		padding-left:50px;
		}
	.google5 img{
		padding-left:50px;
		}
	.g{
		border:1px solid #ffff;
		width:900px;
		height:350px;
		}
	.you{
		margin-top:20px;
		margin-left:70px;
		border:1px solid black;
		float:left;
		width:200px;
	
		}
	.you1 h5{
		color:orange;
		padding-left:50px;
		}
	.you1 img{
		padding-left:50px;
		}
	.y{
		border:1px solid #ffff;
		width:900px;
		height:350px;
		}
	.pic{
		border:1px solid #ffff;
		width:300px;
		height:200px;
		padding-left:50px;
		float:left;
		}
	.pic1 h2{
		padding-left:60px;
		}
	.color1 h2{
		color:orange;
		font-size:16px;
		}
	.color1 p{
		width:550px;
		align:justify;
		}
	.f{
		border:1px solid #ffff;
		width:900px;
		height:300px;
		}
	.type{
		border:1px solid #ffff;
		width:900px;
		height:300px;
		margin-left:310px;
		}
	.black h2{
		color:white;
		padding-left:200px;
		}
	.black small{
		padding-left:250px;
		color:white;
		}
	
	.black strong{
		padding-left:235px;
		color:orange;
		}
	
	
	.black1{
		margin-top:20px;
		margin-left:;
		border:1px solid black;
		width:300px;
		float:left;
	
		}
	.black2 h3{
		color:orange;
		
		}
	.black2 p{
		color:white;
		width:280px;
		text-align:justify;
		}
	
	.black3{
		margin-top:20px;
		margin-left:10px;
		border:1px solid black;
		width:300px;
		height:386px;
		float:left;
		color:white;
		
		}
	.black4 h3{
		color:orange;
	
		}
	.bar{
		float:left;
		border:1px solid black;
		}
	.bar h3{
		color:orange;
		
		}
	.bar span{
		padding-left:30px;
		color:white;
		}
	
	.b{
		width:900px;
		height:590px;
		border:1px solid black;
		background-color:black;
		}
	.bar p{
		color:white;
		}
	.black4 ol{
		padding:10px;
		}
	.W{
		width:900px;
		height:200px;
		background-color:orange;
		}
	.w1 h2{
		color:white;
		padding-left:10px;
		}
	.w1 input{
		background-color:orange;
		margin-left:20px;
		padding-right:30px;
		
		}
	.w1 button{
		margin-top:10px;
		margin-left:20px;
		padding-left:70px;
		padding-right:70px;
		color:orange;
		background-color:white;
		}
	
	.w1{
		border:2px solid #ffff;
		width:230px;
		height:190px;
		margin-left:300px;
		
		}
	.hi h1{
		padding-left:180px;
		}
	.hii p{
		padding-left:250px;
		}
	.hiii p{
		color:orange;
		padding-left:230px;
		font-size:17px;
		}	
	.hiiii p{
		padding-left:300px;
		color:#dddd;
		
		}
	.hiiiii p{
		padding-left:280px;
		color:#dddd;
		
		}	
	.why p{
		padding-left:290px;
		}
	
	.button1{
		margin-left:90px;
		
		}
.menu{
		padding-left:10px;
		margin-top:30px;
		border:1px solid #ffff;
		width:900px;
		height:50px;
		}
	.green{
		background-color:green;
		color:white;
		text-decoration:none;
		font-size:25px;
		width:100px;
		height:100px;
		padding:10px 10px 10px 10px;
		
		}
	.blue{
		background-color:blue;
		color:white;
		text-decoration:none;
		font-size:25px;
		padding:10px 10px 10px 10px;
		
		}
	.cyanblue{
		background-color:lightblue;
		color:white;
		text-decoration:none;
		font-size:25px;
		padding:10px 10px 10px 10px;
		}
	.darkblue{
		background-color:darkblue;
		color:white;
		text-decoration:none;
		font-size:25px;
		padding:10px 10px 10px 10px;
		}
	.red{
		background-color:red;
		color:white;
		text-decoration:none;
		font-size:25px;
		padding:10px 10px 10px 10px;
		}
	.darkred{
		background-color:darkred;
		color:white;
		text-decoration:none;
		font-size:25px;
		padding:10px 10px 10px 10px;
		}
	.purple{
		background-color:purple;
		color:white;
		text-decoration:none;
		font-size:25px;
		padding:10px 10px 10px 10px;
		}
			
	.darkblue{
		background-color:darkblue;
		color:white;
		text-decoration:none;
		font-size:25px;
		padding:10px 10px 10px 10px;
		}
	
	.c{
		border:1px solid #ffff;
		width:900px;
		}
	.d{
	padding-left:250px;
	color:#dddd;
		}
	.header10{
		
		width:900px;
		height:30px;
		padding-bottom:15px;
		border:1px solid #eee;
		}
	.header10 p{
		float:left;
		width:400px;
		padding-left:20px;
		color:orange;
		}
	.a10{
		margin-top:12px;
		text-decoration:none;
		float:left;
		padding-left:40px;
		}
	.a9{
		text-decoration:none;
		float:left;
		margin-top:12px;
		padding-left:40px;
		}
	.a8{
		margin-top:12px;
		text-decoration:none;
		float:left;
		padding-left:40px;
		}
	.a7{
		text-decoration:none;
		float:left;
		margin-top:12px;
		padding-left:40px;
		}
	.gnr{
		margin-top:10px;
	
		}
	.total{
		padding-left:40px;
		}
	