*{
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif;
}
.container{
    width:1000px;
    margin:auto;
}
nav{
   height:50px;
}
.list li{
    list-style:none;
    display:inline-block;
    padding:15px 15px;
} 
a{
    text-decoration:none;
    color:black;
}
li:hover{
    border-top:5px solid #3e8dad;
    padding-top:10px;
}
nav .menu{
    float:right;
}
.header{
    background-image:linear-gradient(to right ,#373e4c,#3e8dad);
    color:#fff;
}
.header_info{
     padding:100px 0;
}
.header h1{
    width:400px;
    font-size:40px; 
}
.header h6{
    width:200px;
    padding-top:10px;
    line-height:15px;
}
section{
    background-color:#3e8dad; 
    padding:50px 0;
}
.top h1{
    text-align:center;
    color:#fff;
    font-size:30px;
}
.top1{
    margin-top:50px;
}
article{
    float:left;
    width:400px;
    color:#fff
}
address{
    font-style:normal;
}
.image{
   width:100px;
   height:100px;
   border-radius:100px;
   border:3px solid #fff;
   float:left;
   margin-right:20px;
}
.clear{
    clear:both;
}
.teliphone{
   width:80px;
   height:80px;
   border-radius:90px;
   border:3px solid #fff;
   margin:7px;
   background-color:#fff;
}
i{
color:#3e8dad;
font-size:50px;
padding:50px;
}
address .para{
    float:left;
    width:250px;
}
.articlefooter{
    margin-top:20px;
    text-align:left;
}
aside{
    float:left;
    width:600px; 
}
.aside_info{
    float:right;
}
.input{
    color:#fff;
    width:500px;
}
.input input{
    width:300px;
}
.input textarea{
    width:485px;
}
input::placeholder,textarea::placeholder{
    color:#000;
    font-weight:bold;
}
.name{
    color:#000;
    margin-top:5px;
    margin-bottom:10px; 
    padding:5px 10px;
}
.email{
    color:#000;
    margin-top:5px;
    margin-bottom:10px; 
    padding:5px 10px;
}
.message{
    color:#000;
    margin-top:5px;
    padding-left:10px;
}
button{
    width:120px;
    height:30px;
    float:right;
    padding-left:5px;
    text-align:left;
}
.samples h1{
    text-align:center;
    color:darkslateblue;
    margin-bottom:15px;
    font-size:30px;
}
.samples{
    background-color:#eee;
    padding:30px 0;
}
.image1{
    width:192px;
    height:190px;
    border:1px solid white;
}
.image2{
    margin:0 3px 0 3px;
    width:191px;
    height:190px;
    border:1px solid white;
}
.image3{
    margin:0 3px 0 0;
    width:191px;
    height:190px;
    border:1px solid white;
}
.image4{
    margin:0 3px 0 0;
    width:191px;
    height:190px;
    border:1px solid white;
}
.image5{
    width:191px;
    height:190px;
    border:1px solid white;
}
.image1:hover,.image2:hover,.image3:hover,.image4:hover,.image5:hover{
    border:1px solid #3e8dad;
}
footer{
    background-color:#373e4c; 
    color:#fff;
}
.minifooter{
    border-bottom:3px solid #3e8dad; 
    padding:50px 0;
}

.aboutus{
    width:500px;
    float:left;
}
.clear{
    clear:both;
}
.main{
     float:left;
     width:200px;
     line-height:25px;
     padding-left:30px;
}
.main1{
     float:left;
     width:200px;
     line-height:25px;
}
.footer_imgs{
     float:left;
     width:70px;
}
.twitter{
    width:40px;
    height:40px;
    margin-bottom:10px;
}
.facebook{
   width:40px;
   height:40px;
}
.para1{
    border-top:1px solid #fff;
    padding:10px 0 10px 0;
    color:gray;
}