*{
    margin:0;
    padding:0;
}
.container{
    width:1200px;
    height:auto;
    background-color:#ccc; 
}
nav{
   height:30px;
}
.list li{
    list-style:none;
    display:inline-block;
    margin:5px 7px;
} 
a{
    text-decoration:none;
}
nav .menu{
    float:right;
    width:500px;
}
.header{
    background-image:linear-gradient(to right ,#373e4c,#3e8dad);
    height:300px;
}
.header h1{
    color:#fff;
    width:300px;
    padding-top:50px;
    padding-left:100px
}
.header h6{
    color:#fff;
    width:200px;
    padding-top:10px;
    padding-left:100px
}
section{
    background-color:#3e8dad; 
    height:500px;
}
.top h2{
    text-align:center;
    color:#fff;
}
article{
    float:left;
    width:400px;
}
aside{
    float:left;
    width:400px; 
}
