*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Carousel start*/
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 500px;
}

.carousel-item > img {
    height: 32rem;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.carousel-caption h1,
.carousel-caption p,
.carousel-caption button {
    color: #fff;
}

.carousel-caption button {
    background: transparent;
    padding:7px 20px;
    margin-bottom: 120px;
    border: 1px solid #fff;
}
.carousel-indicators button {
    width:20px;
    height:20px;
    border-radius: 30px;
    margin:10px 3px 15px 3px;
}
 h2{
    margin:10px 0;
}
.about2,.services,.portfolio,.faq{
    background-color:lightcyan;
}
.services,.portfolio,.faq{
    text-align: center;
}
.lorem,.sed,.magni,.nemo{
    background-color: #fefefe;
    margin-bottom: 30px;
}
.sara p,.saul p,.jhon p{
    background-color: lightcyan;
    margin-bottom: 30px;
}