* {
    margin: 0;
    padding: 0;
}

body {
    font-family:"Helvetica", sans-serif;
}

.container {
    width: 100%;
}

.inner_container {
    width: 1000px;
    margin: auto;
}

.banner {
    background-image: url("../images/backgroundimg.jpg");
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    color: #fff;
    text-align: center;
}

.banner_heading{
    padding-top:130px;
}

.banner h1 {
    font-size: 60px;
    letter-spacing: 3px;
    padding:20px 0;
}

.banner h3 {
    font-size: 20px;
}

nav {
    padding-top: 20px;
}

.list li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}

h1 {
    font-size: 40px;
}

article {
    padding:50px 0;
}

article h1 {
    text-align: center;
}

.top1 {
    float: left;
    width: 300px;
    text-align: center;
    margin-right: 50px;
}

.top1 h4 {
    padding: 20px 0;
}

.clear {
    clear: both;
}
i{
    font-size:35px;
    color:purple;
    padding-top: 50px;
}
.top2 {
    float: left;
    width: 300px;
    text-align: center;
    margin-right: 50px;
}

.top2 h4 {
    padding: 20px 0;
}

.top3 {
    float: left;
    width: 300px;
    text-align: center;
}

.top3 h4 {
    padding: 20px 0;
}

aside {
    background-image: url("../images/backgroundimg1.png");
    background-position: center;
    background-size: cover;
    color: #fff;
    padding:20px 0;
}

.para {
    float: right;
    width: 500px;
}

.clear {
    clear: both;
}

.p1 h2 {
    font-size: 33px;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 90px;
    color: #fff;
}

.p1 p {
    padding: 10px 0;
}

.btn button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    background-color: #fff;
    color: #3e8dad;
    margin-bottom: 10px;
}

.btn button:hover {
    background-color: #3e8dad;
    color: #fff;
}

.main {
    margin-top: 50px;
}

.main img {
    float: left;
    width: 250px;
    border-radius: 150px;
    margin-right: 50px;
}

.clear {
    clear: both;
}

.para1 {
    float: left;
    width: 700px;
}

.para1 h1 {
    margin-bottom: 30px;
}

.main1 {
    margin: 100px 0;
}

.main1_head {
    text-align: center;
    margin-bottom: 30px;
}

.main1_head h1 {
    margin-top: 30px;
}

.our_pro1 {
    float: left;
    width: 235px;
}

.clear {
    clear: both;
}

.our_pro1 img {
    width: 235px;
}

.our_pro1 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 20px 0;
}

.our_pro1 button:hover,
.our_pro2 button:hover,
.our_pro3 button:hover,
.our_pro4 button:hover {
    background-color: #fff;
    color: purple;
}

h4 {
    word-spacing: 2px;
    letter-spacing: 2px;
    color: purple;
    font-size: 25px;
    margin: 10px 0;
}

.our_pro2 {
    float: left;
    width: 235px;
    margin: 0 20px;
}

.our_pro2 img {
    width: 235px;
}

.our_pro2 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 20px 0;
}

.our_pro3 {
    float: left;
    width: 235px;
    margin-right: 20px;
}

.our_pro3 img {
    width: 235px;
}

.our_pro3 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 20px 0;
}

.our_pro4 {
    float: left;
    width: 235px;
}

.our_pro4 img {
    width: 235px;
}

.our_pro4 button {
    width: 100px;
    padding: 12px 0;
    border-radius: 5px;
    color: #fff;
    background-color: purple;
    margin: 20px 0;
}

footer {
    background-color: #3e8dad;
    color: #fff;
    padding-bottom: 31px;
}

.contactus {
    float: left;
    width: 330px;
    padding-top: 50px;
}

.clear {
    clear: both;
}

.contactus p {
    padding-top: 20px;
}

.input {
    float: left;
    width: 330px;
    text-align: center;
    padding-top: 50px;
}

.input h5 {
    padding-bottom: 20px;
}

.name {
    margin: 20px 0;
}

.message {
    padding:5px 0 0 5px;
    border-radius: 3px;
}

input {
    width: 250px;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
}

.btn1 button {
    width: 255px;
    padding: 10px 0;
    margin: 20px 0;
    background-color: #fff;
    color: #3e8dad;
    border-radius: 5px;
}
.btn1 button:hover{
    background-color:purple;
    color:#fff;
}

.social_icons {
    float: left;
    width: 330px;
    padding-top: 50px;
    text-align: right;
}
.social_icons h5{
    padding-bottom: 20px;
}

.twitter {
    border-radius: 50px;
    width: 50px;
    padding:0 5px;

}
.facebook {
    border-radius: 50px;
    width: 50px;

}
.instagram {
    border-radius: 50px;
    width: 50px;
    padding-right:5px;

}
.dribble {
    border-radius: 50px;
    width: 50px;

}

.p3 {
    float: right;
    width: 330px;
}

.clear {
    clear: both;
}

.p3 p {
    width: 220px;
    color: #fff;
   background-image: linear-gradient(to right, yellow ,purple );
    padding: 3px 5px;
    border-radius: 5px 5px 0 0;
    border: none;
    text-align: center;
    font-weight: bold;
}
.p3 {
    position:fixed;
    bottom:0px;
    right:120px;
}

p span {
    color: lightgray;
}
/*.carousel-caption h2, .carousel-caption p{
    text-align:left;
    color:white;
}
.carousel-caption p{
    font-size: 16px !important;
}
.carousel-caption .btn{
    float:left;
    margin:0 !important;
    padding:0 !important;
}

.carousel-indicators [data-bs-target]{
    width:15px;
    height:15px;
    background-color: white !important;
    border:2px solid white;
    border-radius:50%;
}

.carousel-control-next-icon {
    background-image: url(../images/arrow-right.png);
    filter: invert(1) grayscale(100);
    filter: none !important;
}
.carousel-control-prev-icon {
    background-image: url(../images/arrow-left.png);
    filter: none !important;
}*/