* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;

}

.container {
    width: 1000px;
    margin: 0 auto;
    /* border: 3px solid black;*/
}
.banner1 {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../images/banner.png);
    height: 600px;
}

.banner h1 {
    color: white;
    font-size: 60px;
    padding-top: 40px;
    text-shadow: 4px 3px black;
}

.banner p {
    color: white;
    padding-top: 50px;
    font-family: ArialMT, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}
