* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width:100%;
}

.container{
    width:1000px;
    margin:0 auto;
    border: 3px solid black;
}
nav{
   height:50px;
}
.list li{
    list-style:none;
    display:inline-block;
    padding:15px 15px;
} 
a{
    text-decoration:none;
    color:black;
}
li:hover{
    border-top:5px solid #3e8dad;
    padding-top:10px;
}
nav .menu{
    float:right;
}
.banner1{
   background-color: #363b49; 
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/banner.png);
    height:600px;
    }
.banner h1{
    color:white;
    font-size:60px;
    padding-top: 40px;
    text-shadow: 4px 3px black;
}
.banner p{
    color:white;
    padding-top: 50px;
    font-family: ArialMT, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
}
.banner2{
   background-color: #409ec1;
}
/*.text-1{
    
    background-image: url(../images/PHONE.png);
    background-repeat: no-repeat;
    height:500px;
    }*/
.text-1 h1{
    color:white;
    text-align: center;
    padding-top: 30px;
    font-size:60px;
    text-shadow: 3px 3px black;
    }
.text-1 p{
    color:white;
     padding-top: 20px;
    width:500px;
    text-align: center;
    padding-left: 250px;
    font-size:18px;
    line-height: 24px;
    }
    
.text-1 img{
    margin-left: 190px;
    margin-top: 40px;
}
button{
    margin-top:30px;
    width: 150px;
    height:50px;
    margin-right: 70px; 
    border-radius: 10px;
    margin-bottom: 40px;
    font-size:20px;
}
.button-1{
     margin-left: 330px;
        border-radius: 10px;
}
.title h1{
    font-size: 50px;
    padding-top: 30px;
}
span{
    color:#409ec1;
    padding-left: 20px;
}
.para1 p{
    padding-top: 30px;
    width:710px;
    float:left;
    line-height: 30px;
    font-size: 19px;
}
.figure img{
    border: 3px solid #409ec1;
    margin-left: 40px;
    margin-top: 30px;
}
.image-1 img{
     border: 3px solid #409ec1;
}
.images img{
    float: left;
}
