*{
    margin: 0px;
    padding: 0px;

}
.body{
    font-family: cursive;
}

.logo{
    color: white;
}

a{
    color:white;
    text-decoration:none;
  
}

.header{
    background-color: black;

}
li{
    list-style-type:none;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family:"Jost";
    letter-spacing:3px;
}
.wrapper{
    width:90%;
    margin:0px auto;
    display:flex;
    justify-content:space-between;
}
.nav ul li{
    display: inline;
    margin-left: 20px;
    font-size: 20px;
  
}
.nav ul li:hover{
    color: green;
}
/* sections1*/

.sections1{
    text-align: center;
     height: 450px;
     
     /*background-image: url("https://image.freepik.com/free-photo/modern-home-decor-with-green-sofa-rattan-furniture-green-wall-background_269031-15.jpg" );
    */ background: url(https://img.freepik.com/free-photo/interior-bright-living-room-with-pillows-sofa-armchair-plants-lamp-empty-blue-wall-background_41470-708.jpg?size=626&ext=jpg) center center;
    background-size: cover;
    position: relative;
     background-color: rgb(186, 250, 121);
     background-repeat: no-repeat;
     background-size: 100%;
   
     width: auto;
     height: 500px;
     color: white;
   
}
.sections1 h1{
    padding-top: 100px;
    font-size: 70px;
}
.sections1 p{
     font-size: 30px;
     font-weight: 20px;
}

.sections1 button{
    width: 150px;
    height: 50px;
    background-color: rgb(20, 158, 61);
    color: black;
    padding: 10px;
   text-align: center;
   margin-top: 50px;
   border-radius: 10px;


}

/*girl images*/

.img{
    height: 800px;
}
.girlimg{
    float: left;
    width: 40%;
    height: 700px;
    margin-right: 60px;
    margin-left: 50px;
    margin-top: 20px;
    



}

.img h1{
    color: green;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 0px;

}
.img i{
    float: left;
    font-size: 50px;
    color: green;
    margin-left: 10px;
    margin-right: 20px;
}
.img p{
    margin-left: 10px;
   
}
.img h2{
    color: green;
    padding-left: 10px;
   
} 
.clear{
    clear: both;
}

/*number sections*/

.container-fluid{
    background-color: rgb(242, 248, 250);
    height: 700px;
    padding-left: 80px;
}
.row h1{
margin-bottom: 20px;
font-size: 35px;



}
.row {
  
  
   margin-right: 120px;
   margin-top: 50px;
   padding-top: 20px;
   padding-left: 80px;

}


/* sections3(mdi)*/




.row modi{
    margin-top: 50px;
   
   
}
.modi :hover{
    color: green;
}
.modi h1{
    color: green;
    font-size: 30px;
    padding-left: 10px;
}
.modi{
    box-shadow: grey  3px 1px 3px 1px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
} 
.row modi1{
    margin-top: 50px;
  
   
}
.modi1 :hover{
    color: green;
}
.modi1 h1{
    color: green;
    font-size: 20px;
    padding-left: 10px;
  
}
.modi1{
    box-shadow: grey  3px 1px 3px 1px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    font-size: 15px;
}




.row modi2{
    margin-top: 50px;
   
   
}
.modi2 :hover{
    color: green;
}
.modi2 h1{
    color: green;
    font-size: 20px;
    padding-left: 10px;
  
}
.modi2{
    box-shadow: grey  3px 1px 3px 1px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    font-size: 15px;
}




.row modi3{
    margin-top: 50px;
    background-color: white;
   
}
.modi3 :hover{
    color: green;
}
.modi3 h1{
    color: green;
    font-size: 20px;
    padding-left: 10px;
  
}
.modi3{
    box-shadow: grey  3px 1px 3px 1px;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    font-size: 15px;
}

/*Services section*/

.Services{
    text-align: center;
    margin-top: 60px;
    background-color: honeydew;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
    padding-left: 100px;
    padding-bottom: 20px;
    margin-bottom: 30px;
 }
 .Services p{
     padding-left: 10px;
     padding-right: 20px;
     padding-bottom: 80px;
     font-size: 16px;
 }
 .col-sm-2{
   
     height: 300px;
     margin-left: 30px;
     
  
 }
 .col-sm-2:hover {
     box-shadow:  1px 1px 1px 1px; 
     background: rgb(253, 252, 251);
     border-radius: 10px;
     width: 200px;
    
 
 
 }
 
 
 .row{
     margin-left:140px;
     border: none;
     
 }
 
 .row i{
     font-size: 50px;
     color: hotpink;
     padding-top: 15px;
     padding-bottom: ;
 
   
     
 }

 /*slider sections*/
 
.slider{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.slidereffect{
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(199, 243, 247);
    padding-left: 20px;
}
.slidereffect p{
    padding-left: 40px;
}
.sliderimg{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
 
/*
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 200px;
 
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  margin-bottom:30px;
}



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.img-fluid{
margin:left;
  width:50px;
  height:50px;
     border-radius: 50%;
}
.text p{
 margin-top:20px;
}
*/



/*portfolio sections*/

.portfolio{
    text-align: center;
    margin-top: 80px;

}


* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    cursor: pointer;
  }

  .content:hover{
    background-color: rgb(18, 19, 19);
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }



/*FAQ sections*/
.faq{
    text-align: center;
    margin-top: 50px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }


  .far fa-question-circle{
      color: rgb(21, 122, 21);
      font-size: 60px;
  }

  /*team sections*/
.team{
    height: 900px;
    margin-top: 120px;
}


.team-members{
 

  margin-top: 50px;

}

.container {
  position: relative;
  max-width: 400px;
  float:left;
  display:inline;
}

.image {
  display: block;
  width: 300px;
  height: 300px;
  padding-left: 10px;
margin-top: 50px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 75%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.img-fluid :hover{
background-color: gray;

}

/* contact sections*/
.locations{
    width: 400px;
    height: 500px;

}
.col-sm-6 i:hover{
    color: green;
}
    

/*login sections*/

.login
{
    width:78%;
    margin:30px auto;
    box-shadow:  o.5px ;
}
input
{
    border:solid 1px;
    border-bottom:2px solid #ddd;
    outline:0;
    padding-left:10px;
}
.name{
    width:49%;
    padding-bottom:30px;
    margin-bottom:50px;

}


.email
{
    width:49%;
    padding-bottom:30px;
    margin-bottom:50px;
}
.email
{
    margin-left:10px;
}
.subject
{
    width:100%;
    padding-bottom:30px;
    margin-bottom:50px;
}
textarea{

    width:100%;
    border: none;
    border-bottom:2px solid #ddd;
    padding-left:10px;
    padding-bottom:70px;
    outline:0;
    
}
.contact button{
    margin-top: 40px;
    text-align: center;
}


.login button{
    width: 120px;
    height: 50px;
    background-color: white;
    color: black;
    padding: 10px;
   margin-left: 350px;
   margin-top: 50px;
   border-radius: 10px;

}
.login button:hover{
    background-color: green;
}


/* footer sections*/
/*
.footer{
    background-color: black;
    color: white;
}
.footer li{
    text-decoration: none;
    list-style: square;
    color: white;

}

.footer li:hover{
    color: yellowgreen;
}

.fab fa-twitter{
    width: 30px;
    height: 30px;

}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: green;
}
*/
.footer-sections{
    background-color: black;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    height: 300px;

   } 
   .footer1{
       float: left;
       font-size: 15px;
       padding-left: 10px;

   }
   .footer2{
    float: left;
    font-size: 15px;
    padding-left: 20px;
}
.footer3{
    float: left;
    font-size: 15px;
    padding-left: 20px;
}
.footer4{
    float: left;
    font-size: 15px;
    padding-left: 20px;
}

.footer1 li{
    text-decoration: none;
    list-style: square;
    color: white;

}

.footer1 li:hover{
    color: yellowgreen;
}

.fab fa-twitter{
    width: 30px;
    height: 30px;

}
.footer1 a{
    color: white;
    text-decoration: none;
}
.foote1r a:hover{
    color: green;
}
.footerbut{
    background-color: green;
    width: 120px;
   padding-left: 25px;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 10px;
   border: green solid;
   margin-top: 30px;
   margin-left: 20px;
   color: white;

}
.footerbut:hover{
    background-color: rgb(82, 105, 46);

}
.footer-sections h4{
    color: rgb(245, 247, 245);
    font-size: 30px;
    font-weight: 500;
}

.copyrights{
    background-color: rgb(90, 83, 83);
 
}
.hover:hover{
    color: yellowgreen;
    
}
.hover{
    color: green;
    font-weight: 900;
}

.fa fa-twitter{
    float: left;
    width: 50px;
    height: 50px;
}
.copyrights i{
margin-left: 750px;
padding-top: 15px;
padding-left: 10px;
padding-bottom: 15px;
padding-right: 10px;
width: 80px;
height: 50px;
background-color: lightgreen;
border-radius: 30px;

    
}
.copyrights i:hover{
    background-color: lightgrey;
}
.fas fa-arrow-up{
    font-size: 50px;
}
