* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 17px !important;
    line-height: 28px !important;
    height: 100%;
}

.bannar1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/banner.png.jpg);
    height: 600px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.image {
    text-align: center;
    padding-top: 30px;
}

.image1 {
    text-align: center;
    padding-top: 130px;
}

.image1 h1,
h2 {
    color: white;
}

nav {
    height: 50px;
    text-align: center;

}

.list li {

    list-style: none;
    display: inline-block;
    padding: 15px;


}

a {

    font-size: 20px;

}

a:hover {
    color: orangered;
}

.a2:active{
    color:green;
}
.a1 {
    margin-left: 20px;

}

.nav-bar li a {
    color: white;
}

.our1 {
    text-align: center;
    padding-bottom: 60px;
}

.our1 h1 {
    padding-top: 50px;
    font-size: 40px;
    padding-bottom: 20px;
}

.banner-info {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/natural.jpg);
    height:100%;
}

.h1 {
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.image img {
    border-radius: 150px;
}

.image h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image p {
    text-align: center;
    color: white;
}

.image i {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.image i:hover {
    color: purple;
}

.h2 {
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 40px;
    font-size: 70px !important;
    color: green;
}

.sunday h2 {
    color: purple;
}

.footer {
    padding-top: 50px;
}

.bottom {
    margin-bottom: 90px;
}

.program h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 50px !important;
    padding-bottom: 40px;
}

.one {
    padding-top: 20px;
    color: purple;
}

.but-2 {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: purple;
    border: 2px solid purple;
}

.but-2:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}

.color {
    border: 1px solid #fff;
    margin-bottom: 90px;
}

.b-footer {
    background-color: #409ec1;
    margin-top: 100px;
}

.white {
    color: white;
    padding-top: 40px;
}

.email {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 9px;
}

.name {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 9px;
}

.Message {
    margin-top: 9px;
    padding-left: 9px;
}

.sub {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: purple;
    border: 2px solid purple;
}

.sub:hover {
    background-color: white;
    color: purple;
    border: 2px solid purple;
}

.h5 {
    padding-top: 40px;
    color: white;

}

.social {
    padding-top: 40px;
    color: white;
    padding-left: 60px;
    padding-bottom: 10px;
}

.i {
    font-size: 40px;
    color: purple;

}

.simbla {
    text-align: right;

    color: white;
    padding: 10px;
    background: linear-gradient(to right, red, purple);
    border-radius: 20px;
    border: 1px solid red;
}

.border {


    height: 50px;

    text-align: right;
}
