*
{
    margin:0;
    padding:0;
    border:0;
    box-sizing:inline-block;
}
main
{
    width:1000px;
    margin:0 auto;
}
body
{
    font-family:arial;
    font-size:normal;
}
.fleft
{
    float:left;
}
.fright
{
    float:right;
}
.clear
{
    clear:both;
}
li{
    list-style-type:none;
    float:left;
}
a{
    text-decoration:none;
    color:black;
}

/*section1 logo,menu*/
header
{
     width:1000px;
    height:100px;
   position:fixed;
   top:0px;
   background-color:whitesmoke;
}
.logo
{
    width:100px;
    height:100px;
}
.menu
{
    height:100px;
    width:700px;
    margin-left:30px;
}
.menu li
{
    padding-left:40px;
    padding-top:45px;
}
.menu li a
{
    color:black;
}
.menu li a:hover
{
    color:red;
}
.navlinks
{
    width:150px;
    height:100px;
}
.navlinks a img
{
    margin-left:20px;
    margin-top:35px;
}

/*banner*/
.banner
{
    height:400px;
    margin-top:200px;
    position: relative;
    z-index:-2;
}
.banner img
{
    width:600px;
    height:400px;
    margin-left:190px;
}
.banner button
{
    position:absolute;
    width:160px;
    height:40px;
    background-color:transparency;
    opacity:0.3;
    border:3px solid black;
    bottom:25px;
    right:395px;
    border-radius:20px;
    line-height:10px;
}
.banner button:hover
{
    cursor:pointer;
    border:5px solid crimson;
}

/*section1 portfplio*/
.section1
{
    width:900px;
    height:250px;
    margin-top:50px;
}
article
{
    width:400px;
    margin-top:20px;
    margin-right:10px;
}
.section1 .img img
{
    margin-top:20px;
    margin-left:130px;
}
article h1
{
    line-height:60px;
    font-size:30px;
    font-weight:lighter;
}
article p
{
    line-height:20px;
}
article .portfolio
{
    margin-top:20px;
}
article .portfolio img
{
    vertical-align:middle;
    margin-left:-5px;
}

/*section2*/
.section2
{
    height:300px;
    background-color:black;
    color:white;
}
.creative,.clearcode,.qualified,.quality 
{
    width:160px;
    height:190px;
    font-size:13px;
    margin-top:60px;
    padding-left:10px;
}
.creative p,.clearcode p,.qualified p,.quality p
{
    color:#999;
}
.creative
{
    margin-left:110px;
}
.clearcode,.qualified,.quality
{
    margin-left:30px;
}
.creative h3,.clearcode h3,.qualified h3,.quality h3
{
    line-height:40px;
}
.creative p,.clearcode p,.qualified p,.quality p
{
    line-height:20px;
}
.creative h1,.clearcode h1,.qualified h1,.quality h1
{
    font-size:50px;
    font-weight:lighter;
    color:gray;
    padding-right:5px;
}
.creative h2,.clearcode h2,.qualified h2,.quality h2
{
    font-size:45px;
    font-weight:lighter;
    color:white;
}

/*section3 testmonials*/
.section3
{
    height:270px;
    background-color:gainsboro;
    text-align:center;
    padding-top:30px;
    position: relative;
    z-index:-2;
}
.section3 img
{
    margin:30px auto 10px auto;
    border-radius:30px;
    border:2px solid black;
}
.section3 h1
{
    font-size:30px;
    font-weight: lighter;
}
.info
{
    width:400px;
    height:190px;
    background-color:white;
    border-radius:30px;
    position: absolute;
    top:80px;
    left:300px;
    border:1px solid black;
    border-block-end-width:2px;
    border-inline-end-width:4px;
    border-inline-start-width:2px;
    border-block-start-width:4px;
}
.info p
{
    color:cornflowerblue;
    font-size:50px;
}
.para
{
    text-align:left;
    text-indent:30px;
    font-size:13px;
    width:300px;
    margin:0 auto 0 auto;

}
.person
{
    width:130px;
    height:50px;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}
.person  img
{
    border-radius:30px;
    border:2px solid black;
    margin-left:10px;
    margin-top:0px;
}
.person p
{
font-size:12px;
color:black;
padding-top:10px;
margin-left:10px;
}
.person a
{
    color:blue;
    font-size:12px;
}
.next,.previous
{
    position:absolute;
    font-size:14px;
    border-bottom: 2px solid gray;
    color:gray;
    top:140px;
}
.previous
{
    left:70px;
}
.next
{
    right:80px;
}

/*section4 faq*/
.section4
{
    height:350px;
}
.section4 .img
{
    width:310px;
    height:250px;
    margin-left:65px;
    margin-top:38px;
}
.section4 .faq
{
    width:500px;
    height:250px;
    margin-right:65px;
    margin-top:38px;
}
.fqa h1
{
    font-size:30px;
    font-weight:lighter;
}
#p1,#p2,#p3
{
    line-height:50px;
    margin-left:0px;
}
.section4 #p1::before,#p2::before,#p3::before
{
    content:"❯";
    color:cornflowerblue;
    background-color:whitesmoke;
    width:30px;
    height:30px;
    border-radius:30px;
    padding:5px 10px;
    margin-right:10px;
}

/*section5 our team*/
.section5
{
    height:300px;
    background-color:gainsboro;
    color:gray;
    font-size:100px;
    font-weight:lighter;
}
.section5 h1
{
    text-align:center;
    font-size:30px;
    font-weight:lighter;
    color:black;
    padding-top:35px;
}
.section5 .img1,.img2,.img3,.img4
{
    width:150px;
    height:150px;
    margin-top:25px;
    border-radius:90px;
    border:5px solid silver;
}
.section5 .img1
{
    margin-left:100px;
}
.img2,.img3,.img4
{
    margin-left:30px;
}
.section5 .img1:hover,.img2:hover,.img3:hover,.img4:hover
{
    border:5px solid whitesmoke;
    border-radius:50px;
}

/*section6 projects*/
.section6 
{
    height:340px;
    box-sizing:border-box;
    background-color:whitesmoke;
}
.section6 h1
{
    font-size:30px;
    text-align:center;
    font-weight:lighter;
    padding-top:30px;
}
.row
{
    display:table;
    margin-top:20px;
}
.column
{
    height:230px;
    width:200px;
    margin-left:35px;
    border:3px solid black;
    border-bottom-left-radius:30px;
    border-top-right-radius:30px;
}
.column img
{
    width:200PX;
    height:150PX;
    border-top-right-radius:30px;
}
.column h6
{
    font-size:13px;
    text-align:center;
    line-height:20px;
}
.column p
{
    font-size:0.9em;
    text-align:center;
    line-height:40px;
}
.column:hover 
{
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
}
.column:hover img
{
    border-top-left-radius:30px;
}

/*section7*/
.section7
{
    height:130px;
    background-color:gainsboro;
    margin-top:50px;
}
.card
{
    width:800px;
    height:130px;
    float:left;
    margin-left:50px;
}
.card1 img,.card2 img,.card3 img,.card4 img
{
    width:100px;
    height:100px;
    margin-top:15px;
}
.card1 img
{
    margin-left:200px;
}
.card2 img,.card3 img,.card4 img
{
    margin-left:60px;
}

/*footer*/
.footer
{
    height:270px;
    margin-left:110px;
    margin-top:40px;
}
.left
{
    width:230px;
    height:240px;
    font-size:12px;
}
.left p
{
    font-size:14px;
    line-height:20px;
}
.left #social
{
    margin-top:40px;
}
#social i
{
    padding-left:15px;
    font-size:20px;
}
.center
{
    width:230px;
    height:240px;
    font-size:14px;
    line-height:30px;
}
.center i
{
    color:cornflowerblue;
    padding-right:10px;
    font-size:20px;
    line-height:45px;
}
.center h2
{
    padding-top:30px;
    margin-bottom:30px;
}
.right
{
    width:230px;
    height:240px;
    font-size:14px;
    line-height:20px;
    position: relative;  
}
.right h3
{
    padding-top:20px;
}
.right i
{
    position: absolute;
    bottom:20px;
    right:40px;
    font-size:30px;
    color:cornflowerblue;
}
.right,.center
{
    margin-left: 40px;
    font-weight:lighter;
}
.center
{
    margin-left: 45px;
    font-weight:lighter;   
}
.right h2
{
    padding-top:30px;
    margin-bottom:50px;
}
#social a i:hover,.right i:hover
{
    font-size:40px;
    color:red;

}
.next a:hover,.previous a:hover
{
    color:red;
    border-bottom:3px solid red;
}



