*{
    padding: 0;
    margin: 0;
    box-sizing: inline-block;
    font-family: arial;
}
.container{
    width:1300px;
    height: auto;
    margin:0 auto;
    border:1px solid #000;
}
.inner-container{
    width: 1000px;
    height: 2000px;
    margin: 0 auto;
    border: 1px solid #000;
}
header{
    width: 1000px;
    height: 100px;
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}
.clear{
    clear:both;
}
.logo{
    width: 10px;
    height: 10px;
    padding-top: 50px;
}
li{
    list-style: none;   
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #ccc;
}
.menu li{
    float: left;
    padding-left:40px;
    padding-top: 10px;
}
.menu{
    width: 700px;
    padding-left: 200px;
    font-size: 12px;
}
.icons img{
    width: 30px;
    height: auto;
    margin-left: 50px;
}
.icons{
    padding-top: 0;
}
.icons img:hover{
    background-color: #ccc;
}
.banner img{
    width: 100%;
    height: auto;
}
.whatwedo img{
    width: 300px;
    height: auto;
    margin-left: 20px;
}
.whatwedo{
    width: 1000px;
    height: auto;
    margin: 50px 0 0 80px;
    
}
h1{
    font-weight: normal;
}
.article{
    width: 400px;
    height: auto;
    margin-left: 190px;
    
}
.article p{
    font-size: 12px;
    text-align: justify;
    text-indent:50px;
    line-height: 25px;
}
.viewportfolio img{
    width: 100px;
    height: auto;
    margin-left: 495px;
    margin-top: 10px;
}
/*.viewportfolio{
    margin: 50px 20px 0 100px;
    padding-left: 50px;
}*/
.viewportfolio span{
    margin:0 0 0 50px;
}