*{
    padding: 0;
    margin: 0;
    font-family: arial;
}
.container{
    width: 1300px;
    height: auto;
    border: 1px solid #ccc;
    margin: 0 auto;
}
.logo img{
    width: 200px;
    height: auto;
}
.menus a{
    text-decoration: none;
}
li{
    list-style: none;
}
.icons img{
    width: 50px;
}