*{
    padding: 0;
    margin: 0;
    box-sizing: inline-block;
    font-family: arial;
}
.container{
    width:1300px;
    height: auto;
    margin:0 auto;
    /*border:1px solid #000;*/
}
.inner-container{
    width: 1000px;
    height: 870px;
    margin: 0 auto;
    /*border: 1px solid #000;*/
}
.floatleft{
    float:left;
}
.floatright{
    float:right;
}
.clear{
    clear:both;
}
li{
    list-style: none;
    float: left;
}
a{
    text-decoration: none;
    color: #000;
}
h1{
    font-weight: normal;
}
a:hover{
    font-size: 13px;
    text-decoration: underline;
}
header{
    width: 1000px;
    height: 100px;
   /* border: 1px solid #ccc;*/
}
.logo{
    width: 100px;
    height: 60px;
   /* border: 1px solid #ccc;*/
    margin-top: 22px;
}
.menu li{
    padding-left:50px;
}
.menu{
    width: 650px;
    height: 30px;
    margin-top:45px;
    margin-left: 50px;
    font-size: 12px;
    /*border: 1px solid #ccc;*/
}
.menu a{
    font-weight: bold;
}
.menu a:hover{
    color: #f00;
}
.icons{
    width: 150px;
   /* border: 1px solid #ccc;*/
    margin-top: 40px;
    margin-left: 46px;
}
.icons a{
    font-size: 30px;
    margin-left: 40px;
}
.icons a:hover{
    font-size: 33px;
}
.banner img{
    width: 700px;
    height: auto;
    margin-left: 150px;
}
.banner img:hover{
    width: 710px;
    height: auto;
}
.banner{
    position: relative;
}
.banner button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    border-color: none;
    position: absolute;
    left: 420px;
    top: 400px;
}
.banner button:hover{
    cursor: pointer;
    width: 155px;
    height: 35px;
    color: #f00;
    text-decoration: underline;
    font-size: 15px;
    border: 2px solid #888;
}
.whatwedo{
    width: 1000px;
    height: auto;
    margin: 50px 0 10px 0;
    /*border: 1px solid #ccc;*/
}
.whatwedo_main_img img{
    width: 400px;
    height: auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 0;
}
.whatwedo_main_img img:hover{
    width: 400px;
    height: auto;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}
.article{
    width: 400px;
    height: auto;
    margin-left: 100px;
}
.article p{
    font-size: 11px;
    text-align: justify;
    text-indent:50px;
    line-height: 20px;
}
.viewportfolio img{
    width: 100px;
    height: auto;
    margin-top: 20px;
    float: left;
}
.viewportfolio img:hover{
    width: 110px;
}
.viewportfolio{
    width: 300px;
    /*border: 1px solid #ccc;*/
    position: relative;
}
.view{
    width: 200px;
    position: absolute;
    top: 35px;
    left: 90px;
}
.blackbanner{
    width: 1300px;
    height: 300px;
    background-color: #333;
}
.blackbg{
    width: 1000px;
    height:250px;
    margin: 0 auto;
    margin-left: 150px;
    /*border: 1px solid #fff;*/
    padding: 80px 0 0 0;
}
.blackbgtext{
    width: 200px;
    height: auto;
    float: left;
    padding: 0 50px 0 0;
    color: #ccc;
}
.blackbgtext span{
    font-size: 50px;
    color: dimgrey;
}
.blackbgtext i{
    font-size: 50px;
}
.blackbgtext h1{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.blackbgtext p{
    color: #888;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: normal;
}
.testimonials{
    background-color:#ddd;
    margin: 100px auto;
    width: 1300px;
    height: 500px;
    /*border: 1px solid #000;*/
    position: relative;
}
.testimonials h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom:10px;
    padding-top: 60px;
}
.testimonialmainimage{
    width: 550px;
    height: auto;
    margin-left:380px;
    padding-top: 20px;
}
.prev{
    position: absolute;
    top: 250px;
    left: 250px;
}
.next{
    position: absolute;
    top: 250px;
    left: 1000px;
}
.prev:hover{
    font-size: 20px;
}
.next:hover{
    font-size: 20px;
}
.testimonial-content{
    width: 400px;
    height: auto;
    margin-left: 460px;
    /*border: 1px solid #000;*/
    position: absolute;
    top: 170px;
}
.testimonial-content i{
    font-size: 30px;
    color: cornflowerblue;
    margin-left: 170px;
}
.testimonial-content p{
    width: 350px;
    height: auto;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    text-indent: justify;
    margin-left: 40px;
    margin-top: 10px;
}
.testimonialpersondiv{
    position: relative;
}
.testimonialperson{
    width: 50px;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 90px;
    top: 10px;
}
.testimonialpersondiv h4{
   position: absolute;
    top: 30px;
    left: 180px;
}
.testimonialpersondiv a{
    font-size: 15px;
    color: deepskyblue;
    position: absolute;
    top: 50px;
    left: 180px;
}
.testimonialpersondiv a:hover{
    font-size: 18px;
    text-decoration: underline;
    color: #f00;
}
.faq{
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    margin-bottom: 50px;
}
.faq_image img{
    width: 500px;
    height: auto;
    float: left;
    margin-top: 100px;
}
.faqarticle{
    width: 400px;
    height: auto;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}
.faqarticle i{
    font-size: 20px;
    color: cornflowerblue;
}
.faqarticle i:hover{
     font-size: 23px;
    color: #ccc;
}
.faqarticle h4{
    margin: 20px 0;
}
.faqarticle p{
    font-size: 13px;
    letter-spacing: normal;
    text-align: justify;
    line-height: 20px;
    text-indent: 50px;
}
.faqarticle img{
    width: 30px;
    height: auto;
    margin: 10px 0;
    margin-right: 10px;
    float: left;
}
.faqarticle img:hover{
     width: 33px;
    height: auto;
    margin: 10px 0;
}
.list-2, .list-3{
    margin-top: 12px;
}
.creativeteam{
    background-color: #ccc;
    width: 1300px;
    height: 600px;
    /*border: 1px solid #000;*/
}
.creativeteam h1{
    text-align: center;
    margin: 50px 0 60px 0;
    padding-top: 100px;
}
.sundar_pichai{
    width: 200px;
    height: auto;
    border-radius: 100px;
    margin: 50px 0 50px 95px;
    border: 1px solid #ccc;
}
.narayen{
    width: 200px;
    height: auto;
    margin: 50px 0 50px 95px;
    border: 1px solid #ccc;
    border-radius: 100px;
}
.ratan_tata{
    width: 200px;
    height: auto;
    margin: 50px 0 50px 95px;
     border: 1px solid #ccc;
    border-radius: 100px;
}
.satya_nadella{
     width: 200px;
    height: auto;
    margin: 50px 0 50px 95px;
     border: 1px solid #ccc;
    border-radius: 100px;
}
.creativeteam img:hover{
    width: 200px;
    height: auto;
    border-radius: 120px;
    border: 2px solid #999;
    cursor: pointer;
}
.projects{
    width: 1100px;
    height: 450px;
    margin: 50px auto;
    padding-top: 100px;
    /*border: 1px solid #000;*/
    position: relative;
}
.projects h1{
    text-align: center;
    margin: 30px 0 20px 0;
    padding-bottom: 50px;
}
.project_img img{
    width: 200px;
    height: auto;
    margin: 10px 10px 10px 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.project_img img:hover{
    width: 210px;
    height: auto;
}
.project_img{
    float: left;
    border-top-right-radius: 20px;
    margin: 0 30px 0 20px;
}
.project_img:hover{
    border: 1px solid #000;
}
.project_img a{
    color: blue;
    text-decoration: underline;
}
.project_img a:hover{
    color: deepskyblue;
}
project-content{
    width: 800px;
}
.project-content p{
    width: 150px;
    font-size: 12px;
    text-align: justify;
    margin:10px 10px 10px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project-content h6{
    width: 150px;
    margin-top: 10px;
    text-transform: uppercase;
     margin:10px 10px 10px 10px;
}
.prev-pro{
    position: absolute;
    top: 350px;
    left: -50px;
}
.prev-pro a:hover{
    font-size: 18px;
    color: #000;
}
.next-pro a:hover{
    font-size: 18px;
    color: #000;
}
.prev-pro a{
    color: #888;
}
.next-pro{
    position: absolute;
    top: 350px;
    right: -50px;
}
.next-pro a{
    color: #888;
}
.company_logos{
    width: 1300px;
    height: 300px;
    /*border: 1px solid #000;*/
    background-color: #eee;
    margin-top: 50px;
}
.company_logo_images-1 img{
     width: 260px;
    height: auto;
    float: left;
    margin-top: 50px;
}
.company_logo_images img{
    width: 260px;
    height: auto;
    float: left;
    padding-left: 80px;
    margin-top: 50px;
}
.footer_section{
    width: 1000px;
    height: 300px;
    margin: 50px auto;
    padding-top: 150px;
    /*border: 1px solid #000;*/
}
.footer_section-1, .footer_section-2, .footer_section-3{
    width: 300px;
    height: auto;
    margin-left: 30px;
    float: left;
}
.footer_section-1 img{
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
.footer_section-2 h2, .footer_section-3 h2{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer_section-1 p, .footer_section-2 p, .footer_section-3 p{
    font-size: 11px;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-indent: 20px;
    line-height: 20px;
}
.footer_section-1 i{
    padding-left: 20px;
    font-size: 20px;
}
.footer_section-1 i:hover{
    color: #f00;
    font-size: 25px;
}
.footer_section-1 span{
    font-size: 20px;
    font-weight: normal;
}
.footer_section-2 span{
    font-size: 13px;
}
.footer_section-2 i{
    color: cornflowerblue;
    padding-right: 20px;
}
.send{
    float: right;
    padding-right: 50px;
}
.send span{
    font-weight: bold;
    padding-right: 20px;
}
.send i{
    color: deepskyblue;
    font-size: 30px;
}
.send i:hover{
    color: #f00;
    font-size: 33px;
}